{% extends '::base.html.twig' %}

{% block body %}
    <div class="main-page">
        <section id="movie-container" class="playing">
            <video loop>
                <source src="{{ asset('upload/web.mp4') }}" type="video/mp4">
            </video>

            <figure class="movie-dotted-bg"></figure>
            <div class="movie-content-wrapper">
                <div class="movie-content">
                    <div class="text">Skontaktuj się z nami</div>
                    <a href="#" data-link="kontakt" class="button-2">Napisz do nas</a>
                </div>
            </div>
            <div id="movie-controls">
                <figure id="mute-control"></figure>
                <figure id="play-control"></figure>
            </div>
        </section>
        <section id="associate">
            <div class="narrow-container">
                <div class="logo-container">
                    <div class="kancelarie"></div>
                    <div class="rzeczpospolita"></div>
                </div>
                <p>Kancelaria jest partnerem</p>
                <p>w sieci Kancelarie RP objętej patronatem</p>
                <p>dziennika Rzeczpospolita</p>
            </div>
        </section>
        <section id="o-nas">
            <div class="narrow-container">
                <h1>Kancelaria Prawna Tokarczyk i Partnerzy</h1>

                <p>{{ cms_config.get('o_nas_text_main', '')|raw }}</p>
                <a href="{{ path('lscms_o_nas') }}" class="button-1">POZNAJ NASZ ZESPÓŁ</a>
            </div>
        </section>
        <section id="stuff">
            <div class="narrow-container">
                <div class="column">
                    {% for osoba in zespol %}
                        <div class="member one-quarter one-half-md">
                            <a href="{{ path('lscms_o_nas') }}">
                                {% if osoba.getPhotoWebPath() %}
                                    <img class="node-hd node-md" src="{{ osoba.getThumbWebPath('medium') }}?{{ random(10000) }}" />
                                    <img class="node-ld" src="{{ osoba.getThumbWebPath('smaller') }}?{{ random(10000) }}" />
                                {% else %}
                                    <img class="node-hd node-md" src="{{ asset('bundles/lscms/images/placeholder-255x268.png') }}" />
                                    <img class="node-ld" src="{{ asset('bundles/lscms/images/placeholder-208x218.png') }}" />
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="blog">
            <div class="narrow-container">
                <h2>Blog</h2>

                <div class="column">
                    {% for post in posty %}
                        <article class="one-third one-half-md">
                            <time datetime="{{ post.date|date('d.m.Y') }}">{{ post.date|localizeddate('long', 'none') }}</time>
                            <a href="{{ post.url }}" target="_blank"><h3>{{ post.title|raw }}</h3></a>

                            <p class="description">{{ post.content|raw }}</p>
                            <a href="{{ post.url }}" class="button-2" target="_blank">Czytaj więcej</a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="dotted-bar"></div>
        <section id="pro-bono">
            <div class="narrow-container">
                <h2>Bezpłatne porady prawne</h2>

                <p>{{ cms_config.get('pro_bono_text', '')|raw }}</p>
            </div>
        </section>
        <div class="bg-people"></div>
        <section id="oferta">
            <div class="narrow-container">
                <h2>Oferta</h2>

                <div class="column">
                    {% for oferta in oferty %}
                        <article class="one-quarter one-quarter-md one-half-sd">
                            <a href="{{ path('lscms_oferty_show', { 'slug': oferta.slug }) }}">
                            <span class="photo-wrapper">
                                <span class="photo">
                                    <img src="{{ oferta.getIconWebPath() }}?{{ random(10000) }}" />
                                </span>
                            </span>

                                <h3>{{ oferta.title }}</h3>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="bg-office"></div>
    </div>
{% endblock %}
