{% form_theme form with 'LsCmsBundle::fields.html.twig' %}

{% spaceless %}
    <section id="kontakt">
        <div class="narrow-container">
            <div class="column clearfix">
                <div class="column-item one-half full-width-md">
                    <article class="column">
                        <h2>Kontakt</h2>

                        <div class="two-thirds-md">
                            <div class="firm-name">{{ cms_config.get('contact_name', '') }}</div>
                            <div class="info-hd info-ld">
                                <div class="group-1">
                                    <div class="row-icon email">
                                        <a href="mailto:{{ cms_config.get('contact_email', '') }}">{{ cms_config.get('contact_email', '') }}</a>
                                    </div>
                                    <div class="row-icon address">{{ cms_config.get('contact_address', '') }}</div>
                                </div>
                                <div class="group-2">
                                    <div class="row-icon phone">{{ cms_config.get('contact_phone', '') }}</div>
                                    <div class="row-icon fax">{{ cms_config.get('contact_fax', '') }}</div>
                                    <div class="row-icon skype">{{ cms_config.get('contact_skype', '') }}</div>
                                </div>
                            </div>
                            <div class="photo-hd photo-ld node-ld node-hd">
                                <img src="{{ asset('bundles/lscms/images/kontakt-small.jpg') }}" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="firm-name">Oddział Przemyśl</div>
                            <div class="info-hd info-ld">
                                <div class="group-2">
                                    <div class="row-icon email">
                                        <a href="mailto:{{ cms_config.get('contact_przemysl_email', '') }}">{{ cms_config.get('contact_przemysl_email', '') }}</a>
                                    </div>
                                    <div class="row-icon address">{{ cms_config.get('contact_przemysl_address', ' ') }}</div>
                                    <div class="row-icon phone">{{ cms_config.get('contact_przemysl_phone', ' ') }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="photo-md one-third-md node-md">
                            <img src="{{ asset('bundles/lscms/images/kontakt-big.jpg') }}" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-account">{{ cms_config.get('contact_account', '')|nl2br }}</div>
                        <div class="photo-sd node-sd">
                            <img src="{{ asset('bundles/lscms/images/kontakt-big.jpg') }}" />
                        </div>
                    </article>
                </div>
                <div class="column-item one-half full-width-md">
                    <h3 class="column">Formularz kontaktowy</h3>

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return submitContact();', 'id': 'form-contact'}}) }}
                    {% do form['g-recaptcha-response'].setRendered %}
                    <div class="form-row">
                        <div class="form-item one-half">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-contact-name' }}) }}
                        </div>
                        <div class="form-item one-half">
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone, {'attr': {'class': 'form-contact-phone' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item one-half">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-contact-email' }}) }}
                        </div>
                        <div class="form-item one-half">
                            {{ form_label(form.time) }}

                            <div class="pseudo-select form-contact-time">
                                {{ form_widget(form.time, {'attr': {'class': 'pseudo-select-input' }}) }}

                                <div class="pseudo-select-selected"></div>
                                <div class="pseudo-select-arrow"></div>
                                <div class="pseudo-select-list">
                                    <div class="pseudo-select-list-item" name="0">Wybierz</div>
                                    <div class="pseudo-select-list-item" name="8">8:00 - 10:00</div>
                                    <div class="pseudo-select-list-item" name="10">10:00 - 12:00</div>
                                    <div class="pseudo-select-list-item" name="12">12:00 - 14:00</div>
                                    <div class="pseudo-select-list-item" name="14">14:00 - 16:00</div>
                                    <div class="pseudo-select-list-item" name="18">18:00 - 20:00</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item full-width">
                            {{ form_label(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-contact-content' }}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item full-width">
                            {{ form_label(form.google_recaptcha) }}
                            {{ form_widget(form.google_recaptcha, {'attr': {'class': 'g-recaptcha form-contact-google_recaptcha' }}) }}
                        </div>
                    </div>
                    <div class="form-row row-submit">
                        <div class="form-item full-width">
                            {{ form_widget(form.submit, {'attr': {'class': 'button-3' }}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endspaceless %}
