{% extends '::base.html.twig' %}

{% block title %}{{ cms_config.get('o_nas_seo_title', '') }}{% endblock %}
{% block description %}{{ cms_config.get('o_nas_seo_description', '') }}{% endblock %}

{% block body %}
    <article class="main-article">
        <header>
            <div class="narrow-container">
                <h1>{{ cms_config.get('o_nas_text_red_page', '')|raw }}</h1>
            </div>
        </header>
        <div class="dotted-bar short">
            <figure class="dotted-icon"><img src="{{ asset('bundles/lscms/images/icon-o-nas.png') }}" /></figure>
        </div>
        <div class="narrow-container">
            <div class="column no-margin-md">
                <div class="o-nas content-wrapper">
                    <div class="description">
                        <h2>{{ cms_config.get('o_nas_title_page', '')|raw }}</h2>

                        <p>{{ cms_config.get('o_nas_text_page', '')|raw }}</p>
                    </div>
                    <div class="photos">
                        <div class="row-photos big">
                            {% for osoba in wyroznieni %}
                                <div class="member one-third">
                                    <figure class="photo-wrapper">
                                        {% if osoba.getPhotoWebPath() %}
                                            <img class="node-hd" src="{{ osoba.getThumbWebPath('biggest') }}?{{ random(10000) }}" />
                                            <img class="node-ld" src="{{ osoba.getThumbWebPath('big') }}?{{ random(10000) }}" />
                                            <img class="node-md" src="{{ osoba.getThumbWebPath('small') }}?{{ random(10000) }}" />
                                            <img class="node-sd" src="{{ osoba.getThumbWebPath('medium') }}?{{ random(10000) }}" />
                                        {% else %}
                                            <img class="node-hd" src="{{ asset('bundles/lscms/images/placeholder-350x368.png') }}" />
                                            <img class="node-ld" src="{{ asset('bundles/lscms/images/placeholder-287x302.png') }}" />
                                            <img class="node-md" src="{{ asset('bundles/lscms/images/placeholder-224x235.png') }}" />
                                            <img class="node-sd" src="{{ asset('bundles/lscms/images/placeholder-255x268.png') }}" />
                                        {% endif %}
                                    </figure>
                                    <div class="data">
                                        <span class="name">{{ osoba.name }}</span>
                                        <span class="position">{{ osoba.stanowisko }}</span>
                                        <span class="email">{{ osoba.email }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row-photos">
                            {% for osoba in reszta %}
                                <div class="member one-quarter one-half-sd">
                                    <figure class="photo-wrapper">
                                        {% if osoba.getPhotoWebPath() %}
                                            <img class="node-hd" src="{{ osoba.getThumbWebPath('medium') }}?{{ random(10000) }}" />
                                            <img class="node-ld" src="{{ osoba.getThumbWebPath('smaller') }}?{{ random(10000) }}" />
                                            <img class="node-md node-sd" src="{{ osoba.getThumbWebPath('smallest') }}?{{ random(10000) }}" />
                                        {% else %}
                                            <img class="node-hd" src="{{ asset('bundles/lscms/images/placeholder-255x268.png') }}" />
                                            <img class="node-ld" src="{{ asset('bundles/lscms/images/placeholder-208x218.png') }}" />
                                            <img class="node-md node-sd" src="{{ asset('bundles/lscms/images/placeholder-160x168.png') }}" />
                                        {% endif %}
                                    </figure>
                                    <div class="data">
                                        <span class="name">{{ osoba.name }}</span>
                                        <span class="position">{{ osoba.stanowisko }}</span>
                                        <span class="email">{{ osoba.email }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
