{% extends '::base.html.twig' %}

{% block title %}{{ cms_config.get('pro_bono_seo_title', '') }}{% endblock %}
{% block description %}{{ cms_config.get('pro_bono_seo_description', '') }}{% endblock %}

{% block body %}
    <article class="main-article">
        <header>
            <div class="narrow-container">
                <h1>Pro Bono</h1>
            </div>
        </header>
        <div class="dotted-bar short"></div>
        <section class="pro-bono">
            <div class="narrow-container">
                <h2>Bezpłatne porady prawne</h2>

                <p>{{ cms_config.get('pro_bono_text', '')|raw }}</p>
            </div>
        </section>
        <div class="bg-people"></div>
    </article>
{% endblock %}
