<!DOCTYPE html>
<html>
<head>
    <title>404 - Page Not Found</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
    <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Open+Sans:400,700,600,300&subset=latin,latin-ext" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/lscms/js/qtip/jquery.qtip.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/lscms/css/pseudoselect.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/lscms/css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/lscms/css/editor.css') }}" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscms/images/favicon.png') }}" />
</head>
{% set menuTopLeft = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top_left'}) %}
{% set menuTopRight = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top_right'}) %}
{% set menuBottom = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_bottom'}) %}
<body>
{% spaceless %}
    <div id="container">
        <header id="main-header">
            <div class="narrow-container">
                <nav id="main-nav">
                    {{ knp_menu_render(menuTopLeft, {'template': 'LsCmsBundle::knp_menu.html.twig'}) }}
                    {{ knp_menu_render(menuTopRight, {'template': 'LsCmsBundle::knp_menu.html.twig'}) }}
                    <ul class="przemysl-menu">
                        <li>
                            <a href="{{ cms_config.get('url_przemysl', '#') }}">Oddział Przemyśl</a>
                        </li>
                    </ul>
                    <figure class="close-menu"></figure>
                </nav>
                <div class="logo-wrapper">
                    <div class="logo">
                        <a href="{{ path('lscms_homepage') }}" title="{{ cms_config.get('seo_title', '') }}"><img src="{{ asset('bundles/lscms/images/logo.png') }}" alt="{{ cms_config.get('seo_title', '') }}" /></a>
                    </div>
                </div>
                <div class="menu-button">
                    <figure></figure>
                </div>
            </div>
            <div class="dotted-bar"></div>
        </header>
        <div id="error-404">
            <div class="dotted-bar"></div>
            <div class="header">Błąd 404</div>
            <div class="dotted-bar"></div>
            <div class="text">
                <p>Strona o podanym adresie nie istnieje</p>
                <a href="{{ path('lscms_homepage') }}">Wróć do strony głównej</a>
            </div>
        </div>
        <div id="contact-container">
            {% render url('lscms_kontakt') %}
        </div>
        <div id="map"></div>
        <footer id="main-footer">
            {{ knp_menu_render(menuBottom, {'template': 'LsCmsBundle::knp_menu.html.twig'}) }}
            <div class="copyright">© 2014 Roczniak Tokarczyk i Partnerzy.
                <span class="another-line-sd">Wszystkie prawa zastrzeżone.</span>
            </div>
            <div class="realization">Realizacja:
                <a href="http://www.lemonadestudio.pl" title="www.lemonadestudio.pl" target="_blank" rel="nofollow"><img src="{{ asset('bundles/lscms/images/lemonade-logo.png') }}" alt="Logo Lemonade Studio" /></a>
            </div>
            <div class="footer-social-icons">
                <a href="{{ cms_config.get('facebook_url', '#') }}" class="fb-icon">Facebook</a>
                <a href="{{ cms_config.get('youtube_url', '#') }}" class="yt-icon">YouTube</a>
            </div>
            <div class="clear"></div>
        </footer>
    </div>
    <a href="{{ cms_config.get('url_przemysl', '#') }}" class="oddzial-tab"></a>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/lscms/js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lscms/js/qtip/jquery.qtip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lscms/js/pseudoselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lscms/js/js.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initializePseudoSelect();

            var myLatlng = new google.maps.LatLng({{ cms_config.get('map_latitude', '') }}, {{ cms_config.get('map_longitude', '') }});

            var mapOptions = {
                zoom: 15,
                center: myLatlng,
                panControl: false,
                zoomControl: true,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: '{{ cms_config.get('contact_name', '') }}'
            });

            google.maps.event.addDomListener(window, 'resize', function () {
                map.setCenter(myLatlng);
            });
        });
    </script>
    {{ cms_config.get('google_analytics', '')|raw }}
{% endspaceless %}
</body>
</html>
