{% extends 'form_div_layout.html.twig' %}

{% block google_recaptcha_widget %}
    {% spaceless %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div data-sitekey="{{ site_key }}"{{ block('widget_attributes') }}></div>
    {% endspaceless %}
{% endblock google_recaptcha_widget %}
