{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination-container">
        <div class="pagination">
            {% if previous is defined %}
                <a class="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Poprzednia</a>
            {% else %}
                <span class="prev">Poprzednia</span>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% else %}
                    <span class="selected">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <a class="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Następna</a>
            {% else %}
                <span class="next">Następna</span>
            {% endif %}
        </div>
    </div>
{% endif %}
