{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var old_location = '';

        var edit_url = '{{ path('admin_ls_cms_menuitem_edit', {id: 'ID'}) }}';
        var add_url = '{{ path('admin_ls_cms_menuitem_create') }}';
        var list_url = '{{ path('admin_ls_cms_menuitem_list') }}';
        var save_order_url = '{{ admin.generateUrl('saveorder') }}';
        var result_list;
        var reload_list = false;

        function saveMenuItemCallback(ret) {
            if (ret.result == 'ok') {
                id = ret.objectId;

                // zapisanie kolejności i odświeżenie listy

                if ($('div.editing').parent().hasClass('new')) {
                    $('div.editing').parent().attr('id', 'list_' + id);
                }
                reload_list = true;
                $(".menuitems_saveorder_button").each(function () {
                    if ($(this).parent().find('#list_' + id).size() > 0) {
                        $(this).click();
                    }
                });

            }
        }

        $(document).ready(function () {
            old_location = $('.nav-tabs').children('.active').children('.menu-group-link').attr('id').replace('a_', '');
            $('.menu-group-link').live('click', function () {
                if ($(this).attr('id').replace('a_', '') !== old_location) {
                    old_location = $(this).attr('id').replace('a_', '');
                    $('#menu_item_edit').html('');
                }
            });

            $(".menuitems_saveorder_button").click(function () {
                // ajax zapisujący kolejność

                list = $(this).parent().find('ol.sortable').sortable("serialize").get();

                $.ajax({
                    type: 'POST',
                    url: save_order_url,
                    data: {
                        elements: list
                    },
                    success: function (response) {
                        location.reload();
                    }
                });
            });

            $('ol.sortable').sortable({
                serialize: function (parent, children, isContainer) {
                    var id = parent.attr('id');

                    var item = {
                        id: id
                    };
                    var result = $.extend({}, item);

                    if (isContainer)
                        return children;
                    else if (children[0]) {
                        result.children = children;
                    }

                    return result;
                }
            });

            $('ol.sortable li div').live('click', function () {
                $('ol.sortable li div').removeClass('editing');
                $(this).addClass('editing');
                id = $(this).parent('li').attr('id').substr(5);

                url = edit_url.replace('ID', id);
                $('#menu_item_edit').load(url);
            });

            $('ol.not-sortable li div').live('click', function () {
                $('ol.not-sortable li div').removeClass('editing');
                $(this).addClass('editing');

                id = $(this).parent('li').attr('id').substr(5);
                $('#menu_item_edit').load(add_url, function (data) {
                    $(location_input).val(id.substr(4));
                });
            });
        });
    </script>
{% endblock %}

{% block actions %}{% endblock %}

{% block nested_list_elements %}
    {% for element in elements %}
        <li id="list_{{ element.id }}">
            <div>{{ element.title }}</div>
            <ol>
                {% if element.getChildren|length > 0 %}
                    {% set elements = element.getChildren %}
                    {{ block('nested_list_elements') }}
                {% endif %}
            </ol>
        </li>
    {% endfor %}
{% endblock %}

{% block list_table %}

    <div id="menu-edit-lists">
        <ul class="nav nav-tabs pills">
            {% for mname, menu in menus %}
                <li class="{% if loop.first %}active{% endif %}">
                    <a data-toggle="tab" class="menu-group-link" id="a_{{ mname }}" href="#menu-{{ mname }}">{{ menu.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for mname, menu in menus %}
                <div id="menu-{{ mname }}" class="tab-pane {% if loop.first %}active{% endif %}">
                    <ol class="sortable breadcrumb">
                        {% set elements = menu.items %}
                        {{ block('nested_list_elements') }}
                    </ol>

                    <ol class="not-sortable breadcrumb">
                        <li class="new" id="list_new_{{ mname }}">
                            <div>Dodaj nowy ...</div>
                        </li>
                    </ol>

                    <p><span class="label notice ">Przeciągaj elementy aby ustalić kolejność</span></p>
                    <input type="button" class="menuitems_saveorder_button btn" value="Zapisz kolejność" />

                </div>
            {% endfor %}
        </div>
    </div>

    <div id="menu_item_edit" style=""></div>

    <div style="clear:both;"></div>
{% endblock %}
