{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
        <img src="{{ object.getThumbWebPath('smallest') }}?{{ random(10000) }}" style="height: 80px;" />
{% endblock %}