.editor * {
    margin: 0;
    font-size: 15px;
    line-height: 22px;
}

.column p,
.editor p {
    text-align: justify;
    font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
    font-weight: 300;
    margin: 0;
}

.column p.wyroznienie,
.editor p.wyroznienie {
    background-color: #eaeaea;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
    padding: 12px 30px;
    display: block;
    width: 320px;
    overflow: hidden; /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Deprecated Firefox */
    -moz-column-break-inside:avoid; /* Current Firefox */
    column-break-inside:avoid;
    break-inside: avoid; /* IE 10+ */
    break-inside: avoid-column;
}

.column h3.podtytul,
.editor h3.podtytul {
    font-size: 17px;
    margin-bottom: 8px;
    font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
    font-weight: 600;
}

.column ul,
.editor ul {
    list-style: none;
    padding: 18px 0;
    margin: 0;
}

.column ul li,
.editor ul li {
    background: transparent url('../images/li-sign.jpg') no-repeat;
    padding: 2px 0 2px 22px;
    font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
    font-weight: 400;
}

.editor ul li {
    background-position: 0 8px;
}

.column ol,
.editor ol {
    padding: 18px 0 18px 22px;
    margin: 0;
}

.column ol li,
.editor ol li {
    padding: 2px 0;
    font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
    font-weight: 400;
}
