.pseudo-select {
    position: relative;
    background: #98b1c5; /* Old browsers */
    height: 46px;
    width: 100%;
}

.pseudo-select-selected {
    background-color: #bbbbbb;
    font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 46px;
    height: 46px;
    padding-right: 56px;
    text-align: center;
    color: #444444;
    overflow: hidden;
    cursor: pointer;
}

.pseudo-select-arrow {
    background: transparent url('../images/sprite.png') no-repeat 0 -132px;
    width: 17px;
    height: 11px;
    position: absolute;
    top: 19px;
    right: 21px;
    cursor: pointer;
}

.pseudo-select-list {
    background-color: #bbbbbb;
    display: none;
    position: absolute;
    left: 0px;
    top: 46px;
    overflow: auto;
    z-index: 9999;
    max-height: 300px;
    width: 100%;
}

.pseudo-select-list-item {
    line-height: 50px;
    height: 50px;
    font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #313131;
    cursor: pointer;
}

.pseudo-select-list-item-selected,
.pseudo-select-list-item:hover {
    background-color: #313131;
    color: #ffffff;
}
