{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.getIconWebPath != null %}
        <img src="{{ object.getIconWebPath() }}?{{ random(10000) }}" />
    {% endif %}
{% endblock %}