{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.getIconDetailsWebPath != null %}
        <img src="{{ object.getIconDetailsWebPath() }}?{{ random(10000) }}" />
    {% endif %}
{% endblock %}