{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}
    <article class="main-article">
    <header>
        <div class="narrow-container">
            <h1>{{ entity.title }}</h1>
        </div>
    </header>
    <div class="dotted-bar short"></div>
    <div class="narrow-container">
        <div class="column">
            <div class="content-wrapper">
                <div class="article-content two-thirds">
                    <div class="column two-columns-layout">{{ entity.content|raw }}</div>
                </div>
                <aside class="one-third">
                    <div class="column">
                        <figure>
                            {% if entity.getPhotoWebPath %}
                                <img class="node-hd" src="{{ entity.getThumbWebPath('big') }}?{{ random(10000) }}"/>
                                <img class="node-ld" src="{{ entity.getThumbWebPath('medium') }}?{{ random(10000) }}"/>
                                <img class="node-md" src="{{ entity.getThumbWebPath('small') }}?{{ random(10000) }}"/>
                            {% endif %}
                        </figure>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    </article>
{% endblock %}
