{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.gallery %}
        <a href="{{ path('admin_ls_cms_gallery_photos', {id : object.gallery.id }) }}">{{ object.gallery.title }}</a>
    {% endif %}
{% endblock %}