{% extends '::base.html.twig' %}

{% block title %}{{ cms_config.get('oferta_seo_title', '') }}{% endblock %}
{% block description %}{{ cms_config.get('oferta_seo_description', '') }}{% endblock %}

{% block body %}
    <article class="main-article">
        <header>
            <div class="narrow-container">
                <h1>Oferta</h1>
            </div>
        </header>
        <div class="dotted-bar short"></div>
        <div class="oferta-lista">
            <div class="narrow-container">
                <div class="column">
                    {% for oferta in entities %}
                        <article class="one-quarter one-quarter-md one-half-sd">
                            <a href="{{ path('lscms_oferty_show', { 'slug': oferta.slug }) }}">
                            <span class="photo-wrapper">
                                <span class="photo">
                                    <img src="{{ oferta.getIconWebPath() }}?{{ random(10000) }}" />
                                </span>
                            </span>

                                <h2>{{ oferta.title }}</h2>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
