{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}
    <article class="main-article">
        <header>
            <div class="narrow-container">
                <h1>{{ entity.title }}</h1>
            </div>
        </header>
        <div class="dotted-bar short">
            {% if entity.getIconDetailsWebPath() %}
                <figure class="dotted-icon">
                    <img src="{{ entity.getIconDetailsWebPath() }}?{{ random(10000) }}" />
                </figure>
            {% endif %}
        </div>
        <div class="narrow-container">
            <div class="column no-margin-md">
                <div class="oferta content-wrapper">
                    <aside class="one-third full-width-md">
                        <div class="column">
                            <div class="offers-toggle">
                                <figure></figure>
                            </div>
                            <ul class="offers-list">
                                {% for oferta in oferty %}
                                    <li{% if oferta.selected %} class="active"{% endif %}>
                                        <a href="{{ path('lscms_oferty_show', { 'slug': oferta.slug }) }}">{{ oferta.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <figure>
                                {% if entity.getPhotoWebPath %}
                                    <img class="node-hd" src="{{ entity.getThumbWebPath('big') }}?{{ random(10000) }}" />
                                    <img class="node-ld" src="{{ entity.getThumbWebPath('medium') }}?{{ random(10000) }}" />
                                {% endif %}
                            </figure>
                        </div>
                    </aside>
                    <div class="article-content two-thirds full-width-md">
                        <div class="column two-columns-layout">{{ entity.content|raw }}</div>
                    </div>
                </div>
                {% if entity.specialists|length > 0 %}
                    <div class="photos">
                        <h2>Nasi specjaliści</h2>

                        <div class="row-photos">
                            {% for specjalistaoferty in entity.specialists %}
                                <div class="member one-quarter one-half-sd">
                                    <figure class="photo-wrapper">
                                        {% if specjalistaoferty.specjalista.getPhotoWebPath() %}
                                            <img class="node-hd" src="{{ specjalistaoferty.specjalista.getThumbWebPath('medium') }}?{{ random(10000) }}" />
                                            <img class="node-ld" src="{{ specjalistaoferty.specjalista.getThumbWebPath('smaller') }}?{{ random(10000) }}" />
                                            <img class="node-md" src="{{ specjalistaoferty.specjalista.getThumbWebPath('smallest') }}?{{ random(10000) }}" />
                                        {% else %}
                                            <img class="node-hd" src="{{ asset('bundles/lscms/images/placeholder-255x268.png') }}" />
                                            <img class="node-ld" src="{{ asset('bundles/lscms/images/placeholder-208x218.png') }}" />
                                            <img class="node-md" src="{{ asset('bundles/lscms/images/placeholder-160x168.png') }}" />
                                        {% endif %}
                                    </figure>
                                    <div class="data">
                                        <span class="name">{{ specjalistaoferty.specjalista.name }}</span>
                                        <span class="position">{{ specjalistaoferty.specjalista.stanowisko }}</span>
                                        <span class="email">{{ specjalistaoferty.specjalista.email }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </article>
{% endblock %}
