/* 
    Document   : style
    Author     : Dawid Ziobro
*/
/* --- basic --- */
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
a:link {
  color: #242424;
}
a:visited {
  color: #242424;
}
a:hover {
  color: #242424;
}
a:active {
  color: #242424;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
body {
  font-size: 12px;
  color: #242424;
  background: #ffffff;
  font-family: "Arial", "Tahoma", sans-serif;
}
.clearfix {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.column {
  margin: 0 15px;
}
.full-width {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-quarter {
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.one-third {
  width: 33.33%;
}
.two-thirds {
  width: 66.66%;
}
.two-columns-layout {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  text-align: justify;
}
.dotted-bar {
  background: transparent url('../img/dotted-bg.png') repeat scroll 0 0;
  position: relative;
  width: 100%;
  height: 29px;
}
.dotted-bar.short {
  height: 8px;
}
.dotted-bar .dotted-icon {
  padding: 8px;
  background: transparent url('../img/dotted-bg.png') repeat scroll 0 0;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 66px;
  height: 66px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -33px 0 0 -33px;
}
.dotted-bar .dotted-icon img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body .button-1 {
  width: 220px;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #fff;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  background-color: transparent;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 600;
}
body .button-1:hover {
  background-color: #fff;
  color: #fb3737;
}
body .button-2 {
  width: 220px;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #30c568;
  color: #007c2f;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  background-color: transparent;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 600;
}
body .button-2:hover {
  background-color: #30c568;
  color: #beffd7;
}
body .button-3 {
  width: 220px;
  height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #fff;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  background-color: transparent;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 600;
  border-color: #bbbbbb;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
body .button-3:hover {
  background-color: #fff;
  color: #fb3737;
}
body .button-3:hover {
  color: #242424;
  background-color: #bbbbbb;
}
.node-hd,
.node-ld,
.node-md,
.node-sd,
.node-sd {
  display: none;
}
.node-hd {
  display: block;
}
/* --- container --- */
#container {
  padding-top: 113px;
}
/* --- main header --- */
#main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 113px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1000;
}
#main-header .narrow-container {
  height: 100%;
}
#main-header * {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#main-header .menu-button,
#main-header .close-menu {
  display: none;
}
#main-header .logo-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 161px;
  height: 100%;
  margin-left: -81px;
  overflow: hidden;
}
#main-header .logo-wrapper .logo {
  margin-top: 16px;
}
#main-header .logo-wrapper .logo a {
  display: block;
}
#main-header .dotted-bar {
  height: 0;
}
#main-header #main-nav {
  clear: both;
  height: 100%;
}
#main-header #main-nav:after,
#main-header #main-nav:before {
  content: " ";
  display: table;
}
#main-header #main-nav:after {
  clear: both;
}
#main-header #main-nav ul {
  list-style: none;
}
#main-header #main-nav ul.left-side {
  float: left;
  height: 100%;
}
#main-header #main-nav ul.right-side {
  float: right;
  height: 100%;
}
#main-header #main-nav ul li {
  display: inline-block;
  height: 100%;
  width: 118px;
  text-align: center;
  font-size: 16px;
}
#main-header #main-nav ul li a {
  text-transform: uppercase;
  display: table;
  position: relative;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
}
#main-header #main-nav ul li a span {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  display: table-cell;
}
#main-header #main-nav ul li a:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #fb3737;
  z-index: 100;
}
#main-header #main-nav ul li a:hover,
#main-header #main-nav ul li a.active {
  font-weight: 600;
}
#main-header #main-nav ul li a:hover:after,
#main-header #main-nav ul li a.active:after {
  opacity: 1;
}
#container.glued #main-header {
  height: 72px;
  -webkit-box-shadow: 0 13px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 13px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0 13px 3px rgba(0, 0, 0, 0.18);
}
#container.glued #main-header .dotted-bar {
  height: 10px;
}
.narrow-container {
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -ms-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  width: 1170px;
  margin: 0 auto;
}
/* --- main content --- */
.main-page {
  text-align: center;
}
.main-page h1 {
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 100;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 67px;
  padding-top: 110px;
  color: inherit;
}
.main-page p {
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
}
.main-page #movie-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.main-page #movie-container .poster,
.main-page #movie-container .movie-dotted-bg,
.main-page #movie-container .movie-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-page #movie-container video {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.main-page #movie-container .poster {
  background: transparent url('../img/movie-poster.jpg') no-repeat scroll center center;
  background-size: cover;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}
.main-page #movie-container .movie-dotted-bg {
  background: transparent url('../img/movie-dotted-bg.png') repeat scroll 0 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
}
.main-page #movie-container .movie-content-wrapper {
  display: table;
}
.main-page #movie-container .movie-content {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.main-page #movie-container .movie-content h1 {
  font-size: 81px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 100;
  padding-top: 0;
  margin-bottom: 40px;
}
.main-page #movie-container #movie-controls {
  position: absolute;
  top: 30px;
  left: 20px;
}
.main-page #movie-container #movie-controls #mute-control,
.main-page #movie-container #movie-controls #play-control {
  display: inline-block;
  background: transparent url('../img/sprite.png') no-repeat scroll 0 0;
  margin: 0 5px;
  cursor: pointer;
  width: 72px;
  height: 72px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.main-page #movie-container #movie-controls #mute-control:hover,
.main-page #movie-container #movie-controls #play-control:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.main-page #movie-container #movie-controls #mute-control {
  background-position: -25px 0;
}
.main-page #movie-container #movie-controls #play-control {
  background-position: -99px 0;
}
.main-page #movie-container.playing .movie-dotted-bg {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.main-page #movie-container.playing .poster {
  display: none;
}
.main-page #movie-container.playing .movie-content {
  display: none;
}
.main-page #movie-container.playing #movie-controls #play-control {
  background-position: -25px 0;
}
.main-page #o-nas {
  background-color: #fb3737;
  color: #fff;
  padding-bottom: 243px;
}
.main-page #o-nas p {
  font-size: 22px;
  line-height: 31px;
  padding: 60px 90px 0 90px;
}
.main-page #o-nas a {
  margin-top: 55px;
}
.main-page #stuff {
  margin-top: -163px;
}
.main-page #stuff .narrow-container {
  background: transparent url('../img/dotted-bg.png') repeat scroll 0 0;
}
.main-page #stuff .column {
  clear: both;
}
.main-page #stuff .column:after,
.main-page #stuff .column:before {
  content: " ";
  display: table;
}
.main-page #stuff .column:after {
  clear: both;
}
.main-page #stuff .member {
  display: inline-block;
  vertical-align: top;
  padding: 30px 15px;
}
.main-page #blog {
  padding-bottom: 120px;
}
.main-page #blog .column {
  clear: both;
}
.main-page #blog .column:after,
.main-page #blog .column:before {
  content: " ";
  display: table;
}
.main-page #blog .column:after {
  clear: both;
}
.main-page #blog article {
  margin-top: 74px;
  padding: 0 15px;
  vertical-align: top;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-page #blog article time {
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 0 8px 2px 8px;
  background-color: #fb3737;
  color: #fff;
  line-height: 20px;
}
.main-page #blog article h1 {
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: 21px;
  line-height: 24px;
  margin-top: 17px;
  text-shadow: none;
}
.main-page #blog article .description {
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  margin-top: 58px;
}
.main-page #blog article a {
  margin-top: 52px;
}
.main-page #pro-bono {
  padding-bottom: 120px;
}
.main-page #pro-bono h1 {
  font-size: 54px;
}
.main-page #pro-bono p {
  font-size: 22px;
  line-height: 31px;
  padding: 74px 50px 0 50px;
}
.main-page #pro-bono p strong,
.main-page #pro-bono p b,
.main-page #pro-bono p .strong {
  font-weight: 400;
}
.main-page .bg-people {
  width: 100%;
  height: 397px;
  background: transparent url('../img/bg-people-hd.jpg') no-repeat scroll center top;
}
.main-page .bg-office {
  width: 100%;
  height: 397px;
  background: transparent url('../img/bg-office-hd.jpg') no-repeat scroll center top;
}
.main-page #oferta {
  padding-bottom: 60px;
}
.main-page #oferta .column {
  clear: both;
}
.main-page #oferta .column:after,
.main-page #oferta .column:before {
  content: " ";
  display: table;
}
.main-page #oferta .column:after {
  clear: both;
}
.main-page #oferta h1 {
  margin-bottom: 100px;
}
.main-page #oferta article {
  display: inline-block;
  height: 286px;
  padding: 0 15px;
  vertical-align: top;
}
.main-page #oferta article .photo-wrapper {
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 125px;
  height: 125px;
  background-color: #fb3737;
  display: table;
  margin: 0 auto;
}
.main-page #oferta article .photo-wrapper .photo {
  display: table-cell;
  vertical-align: middle;
}
.main-page #oferta article .photo-wrapper .photo img {
  display: inline;
}
.main-page #oferta article h2 {
  font-size: 21px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 700;
  vertical-align: middle;
  margin-top: 37px;
  color: #1a1a1a;
}
#kontakt {
  padding: 110px 0;
  background-color: #444444;
  clear: both;
}
#kontakt:after,
#kontakt:before {
  content: " ";
  display: table;
}
#kontakt:after {
  clear: both;
}
#kontakt .column-item {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
#kontakt .column-item h1,
#kontakt .column-item h2 {
  font-size: 21px;
  color: inherit;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
#kontakt .column-item .group-1 {
  margin-bottom: 30px;
}
#kontakt .column-item .row-icon {
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  padding: 15px 0 15px 42px;
}
#kontakt .column-item .row-icon a {
  color: inherit;
}
#kontakt .column-item .row-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: transparent url('../img/sprite.png') no-repeat scroll 0 0;
}
#kontakt .column-item .row-icon.email:before {
  width: 24px;
  height: 18px;
  margin-top: -9px;
}
#kontakt .column-item .row-icon.address:before {
  width: 24px;
  height: 32px;
  background-position: 0 -19px;
  margin-top: -16px;
}
#kontakt .column-item .row-icon.phone:before {
  width: 24px;
  height: 24px;
  background-position: 0 -52px;
  margin-top: -12px;
}
#kontakt .column-item .row-icon.fax:before {
  width: 27px;
  height: 26px;
  background-position: 0 -77px;
  margin-top: -13px;
}
#kontakt .column-item .row-icon.skype:before {
  width: 26px;
  height: 27px;
  background-position: 0 -104px;
  margin-top: -13px;
}
#kontakt .column-item .row-account {
  margin-top: 45px;
  line-height: 28px;
}
#kontakt .column-item form {
  padding-top: 17px;
}
#kontakt .column-item .form-row {
  margin-bottom: 10px;
  clear: both;
}
#kontakt .column-item .form-row:after,
#kontakt .column-item .form-row:before {
  content: " ";
  display: table;
}
#kontakt .column-item .form-row:after {
  clear: both;
}
#kontakt .column-item .form-row.row-submit {
  margin-bottom: 0;
  margin-top: 25px;
}
#kontakt .column-item .form-row .form-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
}
#kontakt .column-item .form-row .form-item label {
  margin: 15px 0;
  display: block;
}
#kontakt .column-item .form-row input,
#kontakt .column-item .form-row textarea,
#kontakt .column-item .form-row select {
  height: 46px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fbfbfb;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#kontakt .column-item .form-row input,
#kontakt .column-item .form-row textarea {
  background-color: transparent;
  border: 1px solid #bbbbbb;
  padding: 15px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#kontakt .column-item .form-row input:focus,
#kontakt .column-item .form-row textarea:focus {
  background-color: #313131;
  color: #fff;
}
#kontakt .column-item .form-row textarea {
  resize: none;
  height: 128px;
}
#kontakt .column-item .form-row select {
  background-color: #bbbbbb;
  color: #444444;
  -webkit-appearance: none;
  padding-left: 31.3%;
}
#kontakt .column-item .form-row button {
  cursor: pointer;
}
#kontakt .column-item .form-row .select-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#kontakt .column-item .form-row .select-wrapper:before {
  content: '';
  background-color: #bbbbbb;
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 0;
  width: 40px;
  pointer-events: none;
}
#kontakt .column-item .form-row .select-wrapper:after {
  content: '';
  background: transparent url('../img/sprite.png') no-repeat 0 -132px;
  width: 17px;
  height: 11px;
  position: absolute;
  top: 19px;
  right: 21px;
  pointer-events: none;
}
.main-article header {
  background-color: #fb3737;
  height: 209px;
}
.main-article header > div {
  display: table;
  height: 100%;
}
.main-article header h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 34px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  color: #fff;
}
.main-article .content-wrapper {
  clear: both;
  margin: 84px 0 84px 0;
}
.main-article .content-wrapper:after,
.main-article .content-wrapper:before {
  content: " ";
  display: table;
}
.main-article .content-wrapper:after {
  clear: both;
}
.main-article .content-wrapper .article-content {
  display: inline-block;
  vertical-align: top;
}
.main-article .content-wrapper aside {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.main-article .content-wrapper p {
  font-size: 15px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  line-height: 22px;
}
.main-article .o-nas {
  text-align: center;
}
.main-article .o-nas .description {
  padding: 0 95px;
}
.main-article .o-nas .description h2 {
  color: #fb3737;
  font-size: 25px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.main-article .oferta .offers-toggle {
  display: none;
}
.main-article .oferta .offers-list {
  padding: 20px 0;
  background-color: #fb3737;
  list-style: none;
  width: 349px;
}
.main-article .oferta .offers-list li {
  color: #fff;
  line-height: 20px;
  padding: 7px 30px;
  font-size: 18px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  position: relative;
}
.main-article .oferta .offers-list li a {
  color: inherit;
}
.main-article .oferta .offers-list li.active {
  font-weight: 400;
}
.main-article .oferta .offers-list li.active:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -15px;
  border-top: 15px solid transparent;
  border-right: 15px solid #fb3737;
  border-bottom: 15px solid transparent;
}
.main-article .photos {
  margin-top: 84px;
  text-align: center;
}
.main-article .photos h2 {
  font-size: 67px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 100;
  margin-bottom: 84px;
}
.main-article .photos .row-photos {
  clear: both;
}
.main-article .photos .row-photos:after,
.main-article .photos .row-photos:before {
  content: " ";
  display: table;
}
.main-article .photos .row-photos:after {
  clear: both;
}
.main-article .photos .row-photos .member {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  height: 417px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.main-article .photos .row-photos .member .data {
  margin-top: 34px;
}
.main-article .photos .row-photos .member span {
  display: block;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.main-article .photos .row-photos .member span.name {
  color: #fb3737;
  font-size: 18px;
}
.main-article .photos .row-photos .member span.position {
  margin-top: 3px;
}
.main-article .photos .row-photos .member span.email {
  font-weight: 300;
  margin-top: 11px;
}
.main-article .photos .row-photos .member span.email:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 10px;
  background: transparent url('../img/sprite.png') no-repeat scroll -114px -97px;
  margin-right: 6px;
}
.main-article .photos .row-photos.big .member {
  height: 564px;
}
.main-article .photos .row-photos.big .member span.name {
  font-size: 21px;
}
/* --- main footer --- */
#main-footer {
  clear: both;
  background-color: #272727;
  text-align: center;
  color: #fff;
  font-family: "Open Sans", "Arial", "Tahoma", sans-serif;
  font-weight: 300;
  padding: 70px 0;
}
#main-footer:after,
#main-footer:before {
  content: " ";
  display: table;
}
#main-footer:after {
  clear: both;
}
#main-footer #menu-bottom {
  list-style: none;
  margin-bottom: 34px;
}
#main-footer #menu-bottom li {
  display: inline-block;
}
#main-footer #menu-bottom li a {
  padding: 0 14px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
#main-footer .copyright {
  font-size: 15px;
}
#main-footer .realization {
  font-size: 14px;
}
#main-footer .realization img {
  position: relative;
  top: 7px;
}
#main-footer .footer-social-icons {
  margin-top: 34px;
}
#main-footer .footer-social-icons a {
  display: inline-block;
}
#main-footer .footer-social-icons a.fb-icon,
#main-footer .footer-social-icons a.yt-icon {
  width: 42px;
  height: 42px;
  background: transparent url('../img/sprite.png') no-repeat;
  margin: 0 2px;
  text-indent: -10000px;
}
#main-footer .footer-social-icons a.fb-icon {
  background-position: -28px -74px;
}
#main-footer .footer-social-icons a.yt-icon {
  background-position: -71px -74px;
}
.podtytul {
  font-size: 17px;
  margin-bottom: 8px;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: bold;
}
.wyroznienie {
  background-color: #eaeaea;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Slab", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  margin: 20px auto;
  text-align: center;
  padding: 12px 30px;
  display: block;
  width: 320px;
}
@media all and (min-width: 980px) and (max-width: 1199px) {
  .narrow-container {
    width: 980px;
  }
  .node-hd {
    display: none;
  }
  .node-ld {
    display: block;
  }
  .main-page #o-nas p {
    line-height: 31px;
    padding: 60px 15px 0 15px;
  }
  .main-page #blog article h1 {
    font-size: 18px;
  }
  .main-page #blog article .description {
    margin-top: 50px;
    font-size: 15px;
  }
  .main-page #oferta article h2 {
    font-size: 20px;
  }
  #main-header #main-nav {
    height: 100%!important;
  }
  .main-article .o-nas .description {
    padding: 0 15px;
  }
  .main-article .oferta .offers-list {
    width: 285px;
  }
  .main-article .photos .row-photos .member {
    height: 366px;
  }
  .main-article .photos .row-photos.big .member {
    height: 498px;
  }
  .main-article .photos .row-photos.big .member span.name {
    font-size: 17px;
  }
}
@media all and (min-width: 1200px) {
  #main-header #main-nav {
    height: 100%!important;
  }
}
@media all and (max-width: 1199px) {
  .main-page .bg-people {
    background: transparent url('../img/bg-people.jpg') no-repeat scroll center top;
  }
  .main-page .bg-office {
    background: transparent url('../img/bg-office.jpg') no-repeat scroll center top;
  }
  .two-columns-layout {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media all and (min-width: 730px) and (max-width: 979px) {
  .one-half-md {
    width: 50%;
  }
  .full-width-md {
    width: 100%;
  }
  .narrow-container {
    width: 730px;
  }
  .node-hd {
    display: none;
  }
  .node-md {
    display: block;
  }
  .no-margin-md {
    margin: 0;
  }
  .main-page #o-nas p {
    font-size: 20px;
    line-height: 28px;
    padding: 60px 0 0 0;
  }
  .main-page #stuff .narrow-container {
    width: 600px;
    padding: 15px 0;
  }
  .main-page #stuff .member {
    padding: 15px;
  }
  .main-page #blog article h1 {
    font-size: 18px;
  }
  .main-page #blog article .description {
    margin-top: 50px;
    font-size: 15px;
  }
  .main-page #oferta article {
    height: 267px;
  }
  .main-page #oferta article h2 {
    font-size: 18px;
  }
  .main-page #oferta article .photo-wrapper {
    width: 101px;
    height: 101px;
  }
  .main-page #oferta article .photo-wrapper .photo img {
    width: 51px;
    height: 51px;
  }
  .main-page #pro-bono p {
    padding: 70px 0 0 0;
  }
  #kontakt .column-item .group-1,
  #kontakt .column-item .group-2 {
    float: left;
  }
  #kontakt .column-item .row-account {
    margin-bottom: 60px;
  }
  .main-article .o-nas .description {
    padding: 0 15px;
  }
  .main-article .o-nas .photos .row-photos .member {
    height: 282px;
  }
  .main-article .o-nas .photos .row-photos .member span {
    font-size: 14px;
  }
  .main-article .o-nas .photos .row-photos .member span.name {
    font-size: 16px;
  }
  .main-article .o-nas .photos .row-photos.big .member {
    height: 419px;
  }
  .main-article .o-nas .photos .row-photos.big .member span.name {
    font-size: 17px;
  }
  .main-article .oferta aside {
    float: none;
  }
  .main-article .oferta .offers-list {
    padding: 20px 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .main-article .oferta .offers-list li {
    width: 33.33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 7px 30px;
    font-size: 17px;
  }
  .main-article .oferta .offers-list li.active {
    font-weight: 400;
  }
  .main-article .oferta .offers-list li.active:before {
    display: none;
  }
}
@media all and (max-width: 979px) {
  .main-article .content-wrapper {
    clear: both;
  }
  .main-article .content-wrapper:after,
  .main-article .content-wrapper:before {
    content: " ";
    display: table;
  }
  .main-article .content-wrapper:after {
    clear: both;
  }
  .main-article .content-wrapper p {
    font-size: 13px;
    line-height: 20px;
  }
  .main-article .o-nas .description {
    padding: 0 15px;
  }
  #container {
    padding-top: 0;
  }
  #container.glued #main-header {
    height: auto;
  }
  #movie-container {
    display: none;
  }
  #main-header {
    position: relative;
    height: auto;
  }
  #main-header .dotted-bar {
    height: 10px;
  }
  #main-header .logo-wrapper {
    position: static;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #main-header .logo-wrapper .logo {
    margin: 12px 0;
  }
  #main-header .logo-wrapper .logo a {
    display: inline;
  }
  #main-header .logo-wrapper .logo img {
    width: 120px;
  }
  #main-header .menu-button {
    cursor: pointer;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 53px;
    height: 48px;
    border: 4px solid #eaeaea;
    background-color: #fff;
    position: fixed;
    top: 15px;
    right: 15px;
  }
  #main-header .menu-button figure,
  #main-header .menu-button figure:before,
  #main-header .menu-button figure:after {
    width: 27px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #717171;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #main-header .menu-button figure:before,
  #main-header .menu-button figure:after {
    content: '';
    left: 0;
  }
  #main-header .menu-button figure:before {
    top: 8px;
  }
  #main-header .menu-button figure:after {
    top: 16px;
  }
  #main-header .close-menu {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  #main-header .close-menu:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 -11px;
    background: transparent url('../img/sprite.png') no-repeat scroll -114px -74px;
  }
  #main-header #main-nav {
    width: 245px;
    background-color: #2d2d2d;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: auto;
    min-height: 100%;
    -webkit-transform: translate(256px, 0);
    -moz-transform: translate(256px, 0);
    -ms-transform: translate(256px, 0);
    -o-transform: translate(256px, 0);
    overflow: auto;
  }
  #main-header #main-nav.opened {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  #main-header #main-nav ul.left-side,
  #main-header #main-nav ul.right-side {
    float: none;
    height: auto;
  }
  #main-header #main-nav ul.left-side {
    padding-top: 70px;
  }
  #main-header #main-nav ul li {
    display: block;
    height: auto;
    width: 100%;
    font-size: 18px;
    text-align: left;
  }
  #main-header #main-nav ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0 15px 30px;
    color: inherit;
  }
  #main-header #main-nav ul li a:after {
    display: none;
  }
  #main-header #main-nav ul li a:hover,
  #main-header #main-nav ul li a.active {
    font-weight: 300;
    background-color: #191919;
  }
  .main-page #blog article:nth-child(3) {
    display: none;
  }
}
@media all and (max-width: 729px) {
  .narrow-container {
    width: 100%;
  }
  .node-hd {
    display: none;
  }
  .node-sd {
    display: block;
  }
  .one-third {
    width: 100%;
  }
  .one-half {
    width: 100%;
  }
  .one-quarter {
    width: 100%;
  }
  .one-half-sd {
    width: 50%;
  }
  .another-line-sd {
    display: block;
  }
  .two-thirds {
    width: 100%;
  }
  #main-header .menu-button {
    width: 43px;
    height: 38px;
    border-width: 3px;
    top: 15px;
    right: 15px;
  }
  #main-header .menu-button figure,
  #main-header .menu-button figure:before,
  #main-header .menu-button figure:after {
    width: 21px;
    height: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    top: 8px;
    left: 8px;
  }
  #main-header .menu-button figure:before,
  #main-header .menu-button figure:after {
    left: 0;
  }
  #main-header .menu-button figure:before {
    top: 7px;
  }
  #main-header .menu-button figure:after {
    top: 14px;
  }
  .main-page h1 {
    font-size: 50px;
    padding-top: 70px;
  }
  .main-page #o-nas {
    padding-bottom: 67px;
  }
  .main-page #o-nas p {
    font-size: 17px;
    line-height: 26px;
    padding: 50px 15px 0 15px;
  }
  .main-page #stuff {
    display: none;
  }
  .main-page #pro-bono {
    padding-bottom: 76px;
  }
  .main-page #pro-bono h1 {
    font-size: 40px;
  }
  .main-page #pro-bono p {
    padding: 40px 15px 0 15px;
    font-size: 17px;
    line-height: 26px;
  }
  .main-page #blog {
    padding-bottom: 76px;
  }
  .main-page #blog article {
    margin-top: 60px;
    padding-bottom: 0;
  }
  .main-page #blog article h1 {
    font-size: 18px;
  }
  .main-page #blog article .description {
    margin-top: 28px;
    font-size: 15px;
  }
  .main-page #blog article .button-2 {
    margin-top: 40px;
  }
  .main-page #oferta h1 {
    margin-bottom: 75px;
  }
  .main-page #oferta article {
    height: 167px;
  }
  .main-page #oferta article h2 {
    font-size: 14px;
    margin-top: 18px;
  }
  .main-page #oferta article .photo-wrapper {
    width: 81px;
    height: 81px;
  }
  .main-page #oferta article .photo-wrapper .photo img {
    width: 41px;
    height: 41px;
  }
  #kontakt {
    padding: 75px 0;
  }
  #kontakt .column-item h1,
  #kontakt .column-item h2 {
    margin-bottom: 25px;
  }
  #kontakt .column-item form {
    padding-top: 0;
  }
  #kontakt .column-item .form-row {
    margin-bottom: 0;
  }
  #kontakt .column-item .form-row .form-item label {
    margin: 25px 0 11px 0;
  }
  #kontakt .column-item .group-1 {
    margin-bottom: 25px;
  }
  #kontakt .column-item .row-icon {
    padding: 8px 0 8px 42px;
    font-size: 15px;
  }
  #kontakt .column-item .row-account {
    margin-bottom: 50px;
    margin-top: 35px;
  }
  #main-footer {
    padding: 50px 0;
  }
  #main-footer #menu-bottom {
    display: none;
  }
  #main-footer .copyright {
    margin-bottom: 20px;
  }
  .main-article header h1 {
    font-size: 20px;
  }
  .main-article .oferta .offers-toggle {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 39px;
    background-color: #fb3737;
    position: relative;
  }
  .main-article .oferta .offers-toggle figure,
  .main-article .oferta .offers-toggle figure:before,
  .main-article .oferta .offers-toggle figure:after {
    width: 27px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #b61313;
    position: absolute;
    top: 10px;
    left: 50%;
  }
  .main-article .oferta .offers-toggle figure {
    margin-left: -10px;
  }
  .main-article .oferta .offers-toggle figure:before,
  .main-article .oferta .offers-toggle figure:after {
    content: '';
    left: 0;
  }
  .main-article .oferta .offers-toggle figure:before {
    top: 8px;
  }
  .main-article .oferta .offers-toggle figure:after {
    top: 16px;
  }
  .main-article .oferta aside {
    float: none;
  }
  .main-article .oferta .offers-list {
    display: none;
    padding: 20px 0;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 0;
  }
  .main-article .oferta .offers-list li {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding: 7px 30px;
    font-size: 17px;
  }
  .main-article .oferta .offers-list li.active {
    font-weight: 400;
  }
  .main-article .oferta .offers-list li.active:before {
    display: none;
  }
  .main-article .oferta .article-content {
    margin-top: 35px;
  }
  .main-article .photos .row-photos .member {
    height: 148px;
  }
  .main-article .photos .row-photos .member .photo-wrapper .node-sd {
    display: inline-block;
  }
  .main-article .photos .row-photos .member span {
    font-size: 14px;
  }
  .main-article .photos .row-photos .member span.name {
    font-size: 16px;
  }
  .main-article .photos .row-photos.big .member {
    height: 430px;
  }
  .main-article .photos .row-photos.big .member span.name {
    font-size: 17px;
  }
}
/*# sourceMappingURL=style.map */