<section id="kontakt">
    <div class="narrow-container">
        <div class="column clearfix">
            <div class="column-item one-half full-width-md">
                <article class="column">
                    <h1>Kontakt</h1>

                    <div class="group-1 one-half-md">
                        <div class="row-icon email"><a href="mailto:poczta@rtip.pl">poczta@rtip.pl</a></div>
                        <div class="row-icon address">ul. Rejtana 36 IVp. lok.2, 35-310 Rzeszów</div>
                    </div>
                    <div class="group-2 one-half-md">
                        <div class="row-icon phone">+48 17 854 91 00 / +48 506 759 712</div>
                        <div class="row-icon fax">+48 17 854 91 02</div>
                        <div class="row-icon skype">kancelariartip</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-account">Rach. Bankowy: ING Bank Śląski S.A. nr 61 1050 1562 1000 0092 0034
                        5081<br/>KRS 0000360602<br/>NIP 813-362-84-05
                    </div>
                </article>
            </div><div class="column-item one-half full-width-md">
                <h2 class="column">Formularz kontaktowy</h2>

                <form>
                    <div class="form-row">
                        <div class="form-item one-half">
                            <label for="name">Imię i nazwisko</label>
                            <input type="text" name="name" id="name"/>
                        </div><div class="form-item one-half">
                            <label for="phone">Numer telefonu</label>
                            <input type="text" name="phone" id="phone"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item one-half">
                            <label for="email">Adres e-mail</label>
                            <input type="text" name="email" id="email"/>
                        </div><div class="form-item one-half">
                            <label for="when">Kiedy możemy zadzwonić</label>

                            <div class="select-wrapper">
                                <select id="when">
                                    <option>Wybierz</option>
                                    <option>8:00 - 10:00</option>
                                    <option>10:00 - 12:00</option>
                                    <option>12:00 - 14:00</option>
                                    <option>14:00 - 16:00</option>
                                    <option>18:00 - 20:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item full-width">
                            <label for="desc">Treść (opcjonalnie)</label>
                            <textarea id="desc"></textarea>
                        </div>
                    </div>
                    <div class="form-row row-submit">
                        <div class="form-item full-width">
                            <button type="submit" class="button-3">Wyślij</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>