<div class="main-page">
    <section id="movie-container" class="playing">
        <video loop>
            <source src="web.mp4" type="video/mp4">
        </video>

        <figure class="movie-dotted-bg"></figure>
        <div class="movie-content-wrapper">
            <div class="movie-content">
                <h1>Skontaktuj się z nami</h1>
                <a href="#" class="button-2">Napisz do nas</a>
            </div>
        </div>
        <div id="movie-controls">
            <figure id="mute-control"></figure>
            <figure id="play-control"></figure>
        </div>
    </section>
    <section id="o-nas">
        <div class="narrow-container">
            <h1>O nas</h1>

            <p>Nie jesteśmy zespołem prawników w którym odrębne praktyki łączy wyłacznie wspólny lokal.
                Jesteśmy zorganizowanym zespołem dla którego satysfakcja klienta jest wartością nadrzędną.
                Wyznajemy zasadę, że najlepszą rekomendacją dla prawnika jest skuteczność,
                a jedyną formą reklamy - polecenie.</p>
            <a href="#" class="button-1">POZNAJ NASZ ZESPÓŁ</a>
        </div>
    </section>
    <section id="stuff">
        <div class="narrow-container">
            <div class="column">
                <div class="member one-quarter one-half-md">
                    <a href="#">
                        <img src="img/temp/255x268.jpg" class="node-hd node-md"/>
                        <img src="img/temp/208x218.jpg" class="node-ld"/>
                    </a>
                </div><div class="member one-quarter one-half-md">
                    <a href="#">
                        <img src="img/temp/255x268.jpg" class="node-hd node-md"/>
                        <img src="img/temp/208x218.jpg" class="node-ld"/>
                    </a>
                </div><div class="member one-quarter one-half-md">
                    <a href="#">
                        <img src="img/temp/255x268.jpg" class="node-hd node-md"/>
                        <img src="img/temp/208x218.jpg" class="node-ld"/>
                    </a>
                </div><div class="member one-quarter one-half-md">
                    <a href="#">
                        <img src="img/temp/255x268.jpg" class="node-hd node-md"/>
                        <img src="img/temp/208x218.jpg" class="node-ld"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="narrow-container">
            <h1>Blog</h1>

            <div class="column">
                <article class="one-third one-half-md">
                    <time datetime="02.02.2015">2 luty 2015</time>
                    <a href="#"><h1>Lorem ipsum dolor sit amet lorem ipsum sit</h1></a>

                    <p class="description">
                        Nunc sed leo sit amet nisi elementum malesuada eu non leo. Maecenas in libero metus. Proin et
                        malesuada nunc. Phasellus eu magna eget lorem vestibulum gravida vitae mattis nibh. Nulla et
                        lorem lobortis,
                    </p>
                    <a href="#" class="button-2">Czytaj więcej</a>
                </article><article class="one-third one-half-md">
                    <time datetime="02.02.2015">2 luty 2015</time>
                    <a href="#"><h1>Lorem ipsum dolor sit amet lorem ipsum sit</h1></a>

                    <p class="description">
                        Nunc sed leo sit amet nisi elementum malesuada eu non leo. Maecenas in libero metus. Proin et
                        malesuada nunc. Phasellus eu magna eget lorem vestibulum gravida vitae mattis nibh. Nulla et
                        lorem lobortis,
                    </p>
                    <a href="#" class="button-2">Czytaj więcej</a>
                </article><article class="one-third">
                    <time datetime="02.02.2015">2 luty 2015</time>
                    <a href="#"><h1>Lorem ipsum dolor sit amet lorem ipsum sit</h1></a>

                    <p class="description">
                        Nunc sed leo sit amet nisi elementum malesuada eu non leo. Maecenas in libero metus. Proin et
                        malesuada nunc. Phasellus eu magna eget lorem vestibulum gravida vitae mattis nibh. Nulla et
                        lorem lobortis,
                    </p>
                    <a href="#" class="button-2">Czytaj więcej</a>
                </article>
            </div>
        </div>
    </section>
    <div class="dotted-bar"></div>
    <section id="pro-bono">
        <div class="narrow-container">
            <h1>Bezpłatne porady prawne</h1>

            <p>
                W każdą środę w godzinach od 12.00 do 16.00 prawnicy z naszej kancelarii udzielają bezpłatnych porad
                prawnych dla przedsiębiorców i osób fizycznych. Warunkiem uzyskania konsultacji jest telefoniczna
                rezerwacja terminu pod numerem 17 854-91-00. Decyduje kolejność zgłoszenia.
                <br/><br/>
                <span class="strong">Zapraszamy do naszej kancelarii przy ul. Rejtana 36 (biurowiec Conres obok MediaMarkt) 4 piętro.</span>
            </p>
        </div>
    </section>
    <div class="bg-people"></div>
    <section id="oferta">
        <div class="narrow-container">
            <h1>Oferta</h1>

            <div class="column">
                <article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-1.png"
                                                                             alt=""/></span></span>

                        <h2>Obsługa prawna firm</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-2.png"
                                                                             alt=""/></span></span>

                        <h2>Prawo budowlane</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-3.png"
                                                                             alt=""/></span></span>

                        <h2>Sprawy cywilne</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-4.png"
                                                                             alt=""/></span></span>

                        <h2>Ochrona własności
                            intelektualnej</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-5.png"
                                                                             alt=""/></span></span>

                        <h2>Prawo w internecie</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-6.png"
                                                                             alt=""/></span></span>

                        <h2>Windykacja należności</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-7.png"
                                                                             alt=""/></span></span>

                        <h2>Administracja
                            i zamówienia publiczne</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-8.png"
                                                                             alt=""/></span></span>

                        <h2>Odszkodowania</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-9.png"
                                                                             alt=""/></span></span>

                        <h2>Prawo karne</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-10.png"
                                                                             alt=""/></span></span>

                        <h2>Prawo rodzinne</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-11.png"
                                                                             alt=""/></span></span>

                        <h2>Prawo gospodarcze</h2>
                    </a>
                </article><article class="one-quarter one-quarter-md one-half-sd">
                    <a href="#">
                        <span class="photo-wrapper"><span class="photo"><img src="img/oferta-12.png"
                                                                             alt=""/></span></span>

                        <h2>Bezpłatne porady</h2>
                    </a>
                </article>
            </div>
        </div>
    </section>
    <div class="bg-office"></div>
</div>

