            <div id="contact-container"></div>
            <footer id="main-footer">
                <ul id="menu-bottom">
                    <li>
                        <a href="o-nas.html" class="active"><span>O nas</span></a>
                    </li>
                    <li>
                        <a href="blog.html"><span>Blog</span></a>
                    </li>
                    <li>
                        <a href="oferta.html"><span>Oferta</span></a>
                    </li>
                    <li>
                        <a href="pro-bono.html"><span>Pro bono</span></a>
                    </li>
                    <li>
                        <a href="projekt-8-2.html"><span>Projekt 8.2</span></a>
                    </li>
                    <li>
                        <a href="kontakt.html"><span>Kontakt</span></a>
                    </li>
                </ul>
                <div class="copyright">© 2014 Roczniak Tokarczyk i Partnerzy.<span class="another-line-sd">Wszystkie prawa zastrzeżone.</span></div>
                <div class="realization">Realizacja: <a href="http://www.lemonadestudio.pl" title="www.lemonadestudio.pl" target="_blank"><img src="img/lemonade-logo.png" alt="Logo Lemonade Studio"/></a></div>
                <div class="footer-social-icons">
                    <a href="#" class="fb-icon">Facebook</a>
                    <a href="#" class="yt-icon">YouTube</a>
                </div>
                <div class="clear"></div>
            </footer>

        </div>
    </body>
</html>