<article class="main-article">
    <header>
        <div class="narrow-container">
            <h1> Jesteśmy zorganizowanym zespołem
                <br/>dla którego satysfakcja klienta jest wartością nadrzędną.</h1>
        </div>
    </header>
    <div class="dotted-bar short">
        <figure class="dotted-icon"><img src="img/icon-o-nas.png"/></figure>
    </div>
    <div class="narrow-container">
        <div class="column no-margin-md">
            <div class="o-nas content-wrapper">
                <div class="description">
                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p>Aliquam erat volutpat. Sed ut scelerisque magna. Phasellus bibendum magna et ex bibendum, vitae
                        efficitur nibh gravida. Curabitur pulvinar, lorem in rhoncus pretium, lorem metus convallis mi,
                        quis vehicula orci magna a tortor. In sem enim, bibendum sed sollicitudin at, aliquet vitae
                        nunc.</p>
                </div>
                <div class="photos">
                    <div class="row-photos big">
                        <div class="member one-third">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/350x368.jpg"/>
                                <img class="node-ld" src="img/temp/287x302.jpg"/>
                                <img class="node-md" src="img/temp/224x235.jpg"/>
                                <img class="node-sd" src="img/temp/255x268.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-third">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/350x368.jpg"/>
                                <img class="node-ld" src="img/temp/287x302.jpg"/>
                                <img class="node-md" src="img/temp/224x235.jpg"/>
                                <img class="node-sd" src="img/temp/255x268.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-third">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/350x368.jpg"/>
                                <img class="node-ld" src="img/temp/287x302.jpg"/>
                                <img class="node-md" src="img/temp/224x235.jpg"/>
                                <img class="node-sd" src="img/temp/255x268.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-photos">
                        <div class="member one-quarter one-half-sd">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/255x268.jpg"/>
                                <img class="node-ld" src="img/temp/208x218.jpg"/>
                                <img class="node-md" src="img/temp/160x168.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-quarter one-half-sd">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/255x268.jpg"/>
                                <img class="node-ld" src="img/temp/208x218.jpg"/>
                                <img class="node-md" src="img/temp/160x168.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-quarter one-half-sd">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/255x268.jpg"/>
                                <img class="node-ld" src="img/temp/208x218.jpg"/>
                                <img class="node-md" src="img/temp/160x168.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-quarter one-half-sd">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/placeholder-255x268.png"/>
                                <img class="node-ld" src="img/placeholder-208x218.png"/>
                                <img class="node-md" src="img/placeholder-160x168.png"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>