<article class="main-article">
    <header>
        <div class="narrow-container">
            <h1> Administracja i zamówienia publiczne</h1>
        </div>
    </header>
    <div class="dotted-bar short">
        <figure class="dotted-icon"><img src="img/icon-oferta.png"/></figure>
    </div>
    <div class="narrow-container">
        <div class="column no-margin-md">
            <div class="oferta content-wrapper">
                <aside class="one-third full-width-md">
                    <div class="column">
                        <div class="offers-toggle"><figure></figure></div>
                        <ul class="offers-list">
                            <li>
                                <a href="#">Obsługa prawna firm</a>
                            </li><li>
                                <a href="#">Prawo budowlane</a>
                            </li><li class="active">
                            <a href="#">Administracja i zamówienia publiczne</a>
                            </li><li>
                            <a href="#">Obsługa prawna firm</a>
                            </li><li>
                                <a href="#">Prawo budowlane</a>
                            </li><li>
                                <a href="#">Obsługa prawna firm</a>
                            </li><li>
                                <a href="#">Prawo budowlane</a>
                            </li><li>
                                <a href="#">Obsługa prawna firm</a>
                            </li><li>
                                <a href="#">Prawo budowlane</a>
                            </li>
                        </ul>
                        <figure>
                            <img class="node-hd" src="img/temp/349x455.jpg"/>
                            <img class="node-ld" src="img/temp/285x372.jpg"/>
                        </figure>
                    </div>
                </aside><div class="article-content two-thirds full-width-md">
                    <div class="column two-columns-layout">
                        <p>
                            Wszyscy zdajemy sobie sprawę, że kwestie związane z prawem administracyjnym są wszechobecne w naszym życiu. Jednocześnie zdecydowana większość z nas doświadczyła na własnej skórze problemów związanych z próbami pozytywnego załatwienia spraw w różnorakich urzędach. Łatwo jest się pogubić w gąszczu szczegółowych ustaw i aktów wykonawczychregulujących sprawy administracyjne.
                            <br/><br/>
                            Nasza <strong>Kancelaria oferuje pomoc przy przygotowywaniu pism dotyczących prawa administracyjnego</strong>, reprezentację klientów w postępowaniu przed organami administracji publicznej jak również przed sądami administracyjnymi. Nadmieniamy również, iż zdecydowana większość zespołu Kancelarii może poszczycić się stażem zatrudnienia w różnych organach administracji publicznej, co umożliwia nam spojrzenie na sprawę pod szerszym kątem, jak również znalezienie nieszablonowych rozwiązań problemów z którymi zgłaszają sie do nas klienci.
                            <br/><br/>
                            Zamówienia publiczne to specyficzny dział prawa, o czym wie każdy kto miał z nimi styczność, jednocześnie ustawa je regulująca jest napisana w sposób niejasny, co więcej zarówno doktryna jak i orzecznictwo często w sposób zupełnie odmienny interpretują jej przepisy. W gąszczu niejasności gubią się nie tylko wykonawcy lecz również zamawiający, co prowadzi do częstych konfliktów..
                            <br/><br/>
                            Zespół naszej Kancelarii przygotowany jest do kompleksowej obsługi w zakresie zamówień publicznych, w oparciu nie tylko o Prawo Zamówień Publicznych, lecz również prawo cywilne.
                            Podkreślenia wymaga fakt, iż w obecnie obowiązującym stanie prawnym istnieje możliwość dochodzenia części roszczeń wynikających z procedury udzielania zamówień nie tylko na podstawie przepisów ww. ustawy, lecz również na podstawie przepisów ogólnych kodeksu cywilnego, w czym nasza Kancelaria ma już spore doświadczenie.
                            <br/><br/>
                        </p>
                        <h3 class="podtytul">Lorem ipsum dolor sit</h3>
                        <p>
                            Jednocześnie należy zauważyć, że zespół zajmujący się zamówieniami publicznymi ma doświadczenie nie tylko w pracy po stronie wykonawcy, lecz również zamawiającego, dzięki czemu – podobnie jak w sprawach administracyjnych – możliwe jest spojrzenie pod szerszym kątem na problemy klientów, co zdecydowanie ułatwia znalezienie satysfakcjonujących rozwiązań.
                        <span class="wyroznienie"> Quisque ac tincidunt neque, non auctor dolor.</span>
                            Phasellus sollicitudin, leo in scelerisque pretium, nisl risus venenatis risus, sit amet sollicitudin augue nibh fermentum ligula. Cras non pellentesque enim. Nunc eu tortor felis. Vivamus scelerisque ipsum sed diam imperdiet, a mattis est ultricies. Quisque ac tincidunt neque, non auctor dolor.
                        </p>
                    </div>
                </div>
            </div>
                <div class="photos">
                    <h2>Nasi specjaliści</h2>

                    <div class="row-photos">
                        <div class="member one-quarter one-half-sd">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/255x268.jpg"/>
                                <img class="node-ld" src="img/temp/208x218.jpg"/>
                                <img class="node-md" src="img/temp/160x168.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-quarter one-half-sd">
                            <figure class="photo-wrapper">
                                <img class="node-hd" src="img/temp/255x268.jpg"/>
                                <img class="node-ld" src="img/temp/208x218.jpg"/>
                                <img class="node-md" src="img/temp/160x168.jpg"/>
                            </figure>
                            <div class="data">
                                <span class="name">Bogdan Roczniak</span>
                                <span class="position">Radca prawny</span>
                                <span class="email">roczniak@rtip.pl</span>
                            </div>
                        </div><div class="member one-quarter one-half-sd">
                        <figure class="photo-wrapper">
                            <img class="node-hd" src="img/temp/255x268.jpg"/>
                            <img class="node-ld" src="img/temp/208x218.jpg"/>
                            <img class="node-md" src="img/temp/160x168.jpg"/>
                        </figure>
                        <div class="data">
                            <span class="name">Bogdan Roczniak</span>
                            <span class="position">Radca prawny</span>
                            <span class="email">roczniak@rtip.pl</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>