<article class="main-article">
    <header>
        <div class="narrow-container">
            <h1>Projekt UE 8.2</h1>
        </div>
    </header>
    <div class="dotted-bar short"></div>
    <div class="narrow-container">
        <div class="column">
            <div class="content-wrapper">
                <div class="article-content two-thirds">
                    <div class="column two-columns-layout">
                        <p>
                            Roczniak Tokarczyk i Partnerzy Kancelaria Radców Prawnych i Adwokatów realizuje w ramach Programu Operacyjnego Innowacyjna Gospodarka projekt dofinansowany ze środków Unii Europejskiej. Szczegóły projektu:
                            <br/><br/>
                            Priorytet 8: Społeczeństwo informacyjne – zwiększanie innowacyjności gospodarki
                            <br/><br/>
                            Działanie 8.2: Wspieranie wdrażania elektronicznego biznesu typu B2B
                            <br/><br/>
                            Tytuł projektu: „Wdrożenie platformy B2B wspomagającej zarządzanie procesami i przepływem informacji między kancelarią RTiP a jej partnerami biznesowymi”.
                            <br/><br/>
                            Umowa o dofinansowanie:  UDA-POIG.08.02.00-18-108/12-00
                            <br/>
                            Realizacja projektu ma na celu wdrożenie zaawansowanego systemu B2B automatyzującego przepływ informacji między Wnioskodawcą a partnerami handlowymi. Jego odpowiednie funkcjonowanie przyczyni się do dużo sprawniejszej współpracy, eliminacji wielu czynności wykonywanych obecnie przez pracowników wszystkich podmiotów zaangażowanych w realizację poszczególnych procesów biznesowych. To z kolei przyczyni się do unowocześnienia działania kancelarii, pozwoli na rozwój, a także wzrost przewagi konkurencyjnej. Tworzony system B2B, ma na celu usprawnienie, poprzez automatyzację procesów biznesowych zachodzących w wyniku współpracy przedsiębiorstwa Wnioskodawcy z jego Partnerami biznesowymi.
                        </p>
                    </div>
                </div><aside class="one-third">
                    <div class="column">
                        <figure>
                            <img class="node-hd" src="img/temp/349x455.jpg"/>
                            <img class="node-ld" src="img/temp/285x372.jpg"/>
                            <img class="node-md" src="img/temp/255x333.jpg"/>
                        </figure>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</article>