/*
Theme Name: SuevaFree
Theme URI: http://themeinprogress.com/sueva/
Description: Sueva is a free responsive clean and corporate Tumblelog  WordPress Theme. The theme support all modern browsers like Firefox, Chrome, Safari, Opera and Internet Explorer 8, 9 and 10 and uses the most modern technologies like HTML5 and CSS3.
Author: ThemeinProgress.
Author URI: http://themeinprogress.com
Version: 1.2.7.7
Tags: gray, light, black, orange, blue, pink, purple, two-columns, right-sidebar, left-sidebar, custom-background, custom-menu, threaded-comments, full-width-template, theme-options,responsive-layout, translation-ready, one-column, photoblogging
Text Domain: suevafree
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

html { 
	min-height:101%;
}
body.custombody { 
	background:url(images/background/patterns/pattern1.jpg) repeat #f3f3f3;
}

/* ====================== START TYPOGRAPHY ====================== */

p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget { 
	font-size:14px; 
	line-height:1.8em;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
body,
p,
li,
address,
dd,
blockquote { 
	color:#545252;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ul,
ol { 
	margin:0.8em 0 0.3em;
}   
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title { 
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family:'Abel',Verdana, Geneva, sans-serif; 
}
   
h1 {
	font-size: 28px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 24px;
}
h4.title {
	font-size: 20px;
	margin:15px auto;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

code {
	display:block;
	white-space:normal !important;
}
/* ====================== END TYPOGRAPHY ====================== */

/* ====================== START ELEMENTS ====================== */

a { 
	color:#333;
	outline: none; 
	border:none;
	font-weight:normal; 
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}
a:hover {
	color:#d14a2b;
	border-bottom:dotted 1px;
}
a.post-edit-link {  
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px;
}
a.post-edit-link:hover {  
	color:#333;
}
.clear { 
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}
.title i {
	padding: 0;
	margin: 0 10px 0 0;
	line-height: 50%;
}

::selection {
	background: #ff6644;
	color:#fff; 
	}
::-moz-selection {
	background: #ff6644;
	color:#fff; 
}

.select-menu {
	display:none;
	visibility:hidden;
}

span.messaggeok {
	font-weight:bold;
}
span.error {
	display:none;
	color:#b93333;
	font-weight:bold;
}

.button {
	background:#ff6644;
	padding:10px;
	color:#fff;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:45px auto -10px auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family: 'Abel', sans-serif;
	font-size:16px;
	width:95px;
	text-align:center;
	float:none;
	position:relative;
	display: block;
	line-height: 1.6em;
}

.button:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none;
	border-bottom:none;
}
.btn {
	font-family:'Abel',Verdana, Geneva, sans-serif; 
}
.btn.right a {
	color:#616161;
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

iframe, 
embed, 
object, 
video {
	max-width:100%;
}

/* ====================== END ELEMENTS ====================== */

/* ====================== START SECTIONS ====================== */

.header { 
	position:relative;
	text-align:center;
	margin:0;
	padding:0;
}
#footer { 
	color:#fff;	
	position:relative; 
	margin-top:50px;
	background:url(images/background/patterns/pattern2.jpg) repeat #333;
	border-top:solid 4px #ff6644;
}

#footer ul, 
#sidebar ul { 
	list-style:none;
	font-weight: normal;
	color:#fafafa;
	margin:0;
}
#footer a { 
	line-height:1.9em;
	-webkit-transition: all .3s ease;
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px;
}
#footer a:hover { 
	color:#d14a2b;
}

#footer p,
#footer a {
	color:#fff;
}

#sidebar .sidebar-box {
	padding:0 20px;
}
.span8.left-sidebar {
	float:right;
}
.span8.right-sidebar {
	float:left;
}

#blog,
#blog .pin-article.span8,
.span8.left-sidebar,
.span8.left-sidebar  {
	margin-bottom:25px;
}

#sidebar h3.title { 
	padding: 0;
	margin: 0 0 20px 0;
	position:relative;
	font-size:28px;
}
#footer h4.title { 
	font-size: 20px;
	margin: 0;
	padding: 20px 0;
}

#footer .textwidget { 
	font-size:12px;
	line-height:1.8em;
}

#footer select, 
#footer textarea,
#footer input[type="text"],
#footer input[type="password"],
#footer input[type="datetime"], 
#footer input[type="datetime-local"], 
#footer input[type="date"],
#footer input[type="month"],
#footer input[type="time"],
#footer input[type="week"],
#footer input[type="number"],
#footer input[type="email"],
#footer input[type="url"],
#footer input[type="search"],
#footer input[type="tel"],
#footer input[type="color"],
#footer .uneditable-input{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:96%;
	padding: 5px 2%;
}

#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget, 
#sidebar p,
#sidebar li,
#sidebar address,
#sidebar dd,
#sidebar blockquote,
#sidebar td,
#sidebar th,
#sidebar .textwidget { 
	font-size:14px; 
	line-height:1.9em;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-weight: normal;
}

#footer .title,
#footer p,
#footer li,
#footer address,
#footer dd,
#footer blockquote,
#footer td,
#footer th,
#footer .textwidget { 
	color:#fff;
}

#footer .copyright {
	padding: 10px 0 0 0;
	margin-top:10px;
	line-height:15px;
}
#footer .widget {
	border-bottom: solid 1px #ff6644;
	margin-right:-20px;
	padding: 0 0 10px 0;
}
/* LOGO */

#logo { 
	position:relative; 
	display:block;
	padding:60px 0 30px 0; 
	line-height:1.8em; 
}
#logo a { 
	font-family:'Allura',Verdana, Geneva, sans-serif; 
	font-size:70px; 
	color:#616161; 
	text-decoration:none; 
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
} 
#logo a:hover { 
	text-decoration:none;
	color:#ff6644;
	border-bottom:none;
}
#logo a span{
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-size:14px; 
	display:block;
	text-align:center;
} 
#logo a img{
	margin-top:-10px;
} 


/* ====================== END SECTIONS ====================== */

/* ====================== START NAV ====================== */

/* MAIN NAV */

nav#mainmenu { 
	margin:0 0 50px 0; 
	padding:0; 
	text-align:center; 
	position:relative; 
	width:100%;
}
nav#mainmenu ul { 
	list-style:none; 
	margin:0; 
	display:inline-block;
}
nav#mainmenu ul li {
	float:left; 
	position:relative; 
	display:block;
	text-align:right;
	padding-bottom:15px
}
nav#mainmenu ul li a   { 
	text-decoration:none; 
	display:block; 
	font-family:'Abel',Verdana, Geneva, sans-serif;
	font-size:14px; 
	z-index:1; 
	margin:15px 15px 0 15px; 
	color:#616161; 
	font-size:19px; 
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-o-transition: all .3s linear; 
	text-transform:uppercase;
}
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	color:#ff6644;
	margin-bottom:1px;
}

nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	border-bottom:dotted 1px;
	margin-bottom:1px;
}


nav#mainmenu .sf-sub-indicator { 
	padding:0 0 0 10px; 
	float:right; 
	font-size:10px;
}
/* END MAIN NAV */

/* SUBMENU */

nav#mainmenu ul ul:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ff6644;
	top: -11px;
	left: 15px;
	z-index: 1000;
}

nav#mainmenu ul ul { 
	display:none; 
	position: absolute; 
	top:50px; 
	left:15px; 
	background:#fff; 
	z-index:1000;
	width:100%;
	min-width:190px;
	z-index:1000;
	border-top:solid 3px #ff6644;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
 
nav#mainmenu ul ul li { 
	position:relative; 
	margin:0;
	padding:0;
	line-height:1em;
	text-transform:none;
	width:100%;
	min-width:190px;
}
nav#mainmenu ul ul li a{ 
	text-decoration:none; 
	text-align:left; 
	display:block; 
	border-top:solid 1px #ddd;
	border-bottom:none;
	padding:18px 15px;
	margin:0;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	text-transform:inherit; 
	text-shadow:inherit; 
	color:#333; 
	font-size:14px;
}

nav#mainmenu ul ul li a:hover, 
nav#mainmenu ul ul li.current-menu-item > a,
nav#mainmenu ul ul li.current_page_item > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current_page_ancestor > a, 
nav#mainmenu ul ul li.current-menu-ancestor > a { 
	border-top:solid 1px #ff6644;
	border-bottom:none;
	margin-bottom:0;
	background:#ff6644; 
	color:#fff; 
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

nav#mainmenu ul ul li ul { 
	top:-3px; 
	left:192px; 
	border-top:solid 3px #c4c4c4;
}

nav#mainmenu ul ul li ul:before {
	display:none;
}

/* END SUBMENU */

/* ====================== END NAV ====================== */

/* ====================== START CONTENT ====================== */

.pin-article { 
	background:#fff; 
	margin-bottom:50px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	word-wrap: break-word
}
.pin-article article.article { 
	padding:45px;
}
.pin-article.span4 article.article { 
	padding:20px;
}
.row.masonry,
.pin-article.span4,
.pin-article.span6 { 
	margin-bottom:25px;
}
.pin-article .attachment p { 
	text-align:center;
}
.pin-article .attachment .entry-info { 
	width:120px;
}
.pin-article .attachment .entry-info .entry-date { 
	margin:auto;
}


.pin-article article.article.link { 
	padding:0; 
}


.pin-article .category p,
.pin-article .search p { 
	margin:0;
}

.pin-article .category,
.pin-article .category p, 
.pin-article .search,
.pin-article .search p { 
	background:#333;
	color:#f1f1f1;
	font-size:21px;
	text-align:center
}
.pin-article .category p a {
	color:#fff;
}

.pin-article .wp-post-image {
	z-index:999;
}

.pin-container {
	overflow: hidden; 
	position: relative;
	height:auto;
	max-height:100%;
}
.pin-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	bottom: 0px;
	left: 50%;
	margin-left:-10px;
	z-index:1000;
}

.pin-article h1.title {
	font-size:38px;
	font-style: normal;
	font-weight: normal;
	margin:0 0 15px 0;
	line-height:1.2em;
	text-align:center;
	position:relative;
	color:#616161;
	word-wrap: break-word
}
.pin-article h1.title a {
	color:#616161;
}
.pin-article h1.title a:hover {
	color:#d14a2b;
}

.pin-article.span4 h1.title {
	font-size:22px;
}

.pin-article.span4 .line {
	margin:30px 0 20px 0;
}

.pin-article .separator:after {
	background:url(images/separator.png) repeat;
	width:100%;
	height:5px;
	content: '';
	display: inline-block;
	margin:0;
}

.pin-article .container-fluid {
	padding:0;
	margin: 0 0 45px 0;
}
.pin-article .container-fluid:last-child {
	padding:0;
	margin: 0;
}

.article-header {
	font-family: 'Abel', sans-serif;
	margin:0 0 20px 0; 
	color:#000; 
	font-size:13px; 
	position:relative;
	text-align:center;
}

/* START COMMENT   */

.commentlist { 
	list-style:none;
	line-height:1px; 
	margin:0;
}

.commentlist ul { 
	list-style:none; 
	padding:0; 
	margin:0;
}
.comment-container { 
	margin:0 0 45px 0; 
	padding:25px 15px; 
	font-family:'Abel',Verdana, Geneva, sans-serif; 
	font-size:12px; 
	position: relative; 
	background:#fff;
	border:solid 1px #ddd;
}

.comment-avatar img { 
	padding:4px; 
	border:solid 1px #ddd; 
	float:left; 
}
.comment-text {
	position:relative; 
	margin-left:110px;
	border-left:solid 1px #ddd;
	padding:0 0 0 15px;
	font-size:14px;
}

.comment-container .comment-date { 
	padding:10px 0;
}
.comment-avatar { 
	position:relative; 
	width:110px; 
	float:left;
}

.comment-author .author { 
	font-family: "Abel", Times, serif; 
	font-size:18px; 
	display:block; 
	font-weight:bold;
}

.children li {
	margin-left:110px;
}
.comment-notes { 
	font-size:12px; 
	margin:-30px 0 25px 0;
}

h3#reply-title, h3.comments { 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 5px 45px;
	height:45px;
	line-height:45px;
	background:url('images/icons/comment.png') no-repeat center left; 
	margin:45px 0;
}
h3#reply-title small, .logged-in-as { 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 14px !important;
	font-weight: bold;
	text-transform: uppercase;
	margin:-20px 0 40px 0;
}

.form-allowed-tags,
p.categories,
.comment-text p {
	font-size: 14px !important;
}

/* END COMMENT  */

/* START CONTACT FORM SHORTCODE / COMMENT FORM */

.contact-form form,
#searchform {
	margin:0 !important;
}

.contact-form input[type=text], .contact-form textarea {
	padding: 15px 2%;
	background:#fafafa;
	width: 96%; 
	margin:0 0 35px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border:none;
	font-family: 'Abel',Verdana, Geneva, sans-serif;
}

.contact-form input[type=submit] {
	background:#ff6644;
	padding:10px;
	color:#fff;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:35px auto -20px auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	font-family: 'Abel', sans-serif;
	font-size:14px;
	text-align:center;
	float:none;
	width:95px;
	position:relative;
	display: block;
	border:none;
	text-shadow:none;
	text-transform:uppercase
}

.contact-form input[type=submit]:hover {
	background:#d14a2b;
	color:#fff;
	text-decoration:none
}

form#searchform #searchsubmit {
	display: inline-block;
	width: 37%;
	margin:0;
	padding: 5px 2%;
}

#searchform .input-search {
	display: inline-block;
	width: 96%;
	margin:0;
	padding: 5px 2%;
}
#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus {
    outline:0px !important;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.logged-in-as a, 
#comments a {
	color:#616161;
}

/* END CONTACT FORM SHORTCODE / COMMENT FORM */

/* START DEFAULT ELEMENTS */

article blockquote { 
	border-left: 4px solid #ff6644; 
	padding:0 35px; 
	position:relative; 
	margin-left:0px;
}

article blockquote p { 
	text-align:left; 
	line-height:1.6em; 	
	font-family: "Abel", Times, serif; 
	font-size:15px;
}
.entry-info ul { 
	display:inline; 
	list-style:none;
}
.entry-info li { 
	display:inline;
}
.entry-info a { 
	display:inline;
	color:#616161;
}
.tags { 
	font-weight:bold;
	background:#fff;
	padding:0 29px;
	
}
.tags a { 
	font-weight:normal;
}

#sidebar .line { 
	margin:20px 0;
}

.post-date {
	font-size:12px; 
	color:#fff; 
	text-align:left;
}

.day { 
	font-size:14px; 
	line-height:1.1em;
}

.archive { 
	margin:0;
}

.span4 .entry-info,
.span4 .entry-info.viewcomments {
	width:auto;
	background:none;
}
.span4 .entry-info .entry-date, 
.span4 .entry-info .entry-comments,
.span4 .entry-info .entry-author,
.span4 .entry-info .entry-audio, 
.span4 .entry-info .entry-video,
.span4 .entry-info .entry-standard,
.span4 .entry-info .entry-gallery{
	display:block;
	text-align:center;
	width:inherit;
	padding:inherit;
	margin:5px auto;
}

/* END DEFAULT ELEMENTS */

/* START SOCIAL BUTTON */

.social-button { 
	float:left; 
	height:20px; 
	margin-top:20px; 
	width:auto;
}
.facebook-box {
	width:102px;
}
.facebook-box.en {
	width:82px;
}
.google-plus { 
	width:65px;
}
.twitter-box { 
	width:85px;
}
.pinterest { 
	width:85px;
	margin-top:19px; 
}

/* END SOCIAL BUTTON */

/* START DEFAULT STYLE */


.entry-tags { 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	font-size:14px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}
.entry-tags span { 
	font-weight:normal;
}

.line {
	position:relative;
	z-index: 998;
	display:block;
	margin:30px 0 40px 0;
	text-align:center;
	min-height:11px
}

.line:before {
	content: '';
	position: absolute;
	width: 100%;
	left:0;
	height: 1px;
	background: url(images/background/dotted.png) repeat;
	z-index:-1;
	top:11px
}

.entry-info { 
	padding:0 10px; 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	background:#fff;
	display:inline;
	position:relative;
}

.entry-info i {
	color: #717171;
	margin: 0 10px;
	font-size:14px;
	line-height:21px
}
.entry-info .entry-date,
.entry-info .entry-comments,
.entry-info .entry-author,
.entry-info .entry-standard { 
	width:90px;
}

/* END DEFAULT STYLE */

/* START IMAGE STYLE */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}
.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:20px;
	max-width:558px !important; 
	padding:4px;
	text-align:center;
}
.wp-caption img {
	margin:5px 5px 0;
	width:98%;
}
.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}
.wp-smiley {
	margin:0;
}

/* ===============================================
   WORDPRESS GALLERY SHORTCODE
   =============================================== */

.gallery {
	margin:15px auto;
}

.gallery .gallery-item {
	float:left;
	margin:0 10px 15px 0;
	text-align:center;
	position:relative;
	outline: 1px solid #ddd;
	border: 4px solid #fff;
	background: #fff;
	overflow:hidden;
}

.gallery-item .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	padding: 6px 0;
	bottom:0;
	position: absolute;
	text-align: center;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
	filter: alpha(opacity=0);
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery dl {
	margin:0;
}

.gallery br+br {
	display:none;
}

.gallery a {
	border-bottom:none;
}

.attachment img{
	display:block;
	margin:0 auto;
}    
p.list-tags {
	line-height:25px;
	margin-top:20px;
	border-top:1px solid #dcdbdb;
	padding:10px 0 10px 36px;
	background:url('images/icons/article.png') left 15px no-repeat;
}
article .overlay-image { 
	position:relative; 
	overflow:hidden;
}
.overlay-image .overlay{ 
	opacity: 0; 
	filter: alpha(opacity=0);
	border:none;
}
.overlay-image .wp-post-image { 
	border:solid 1px #ddd;
	padding:4px;
	max-width:100%;
	max-height:100%;
}
.overlay-image .wp-post-image:hover { 
	-moz-transform:	none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}
.wp-post-image { 
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.8s ease;
	-o-transition: -o-transform 0.8s ease;
	transition: transform 0.8s ease;
	width:auto;
	height:auto;
}
.wp-post-image:hover { 
	-moz-transform: rotate(1deg) scale(1.2);
	-webkit-transform: rotate(1deg) scale(1.2);
	-o-transform: rotate(1deg) scale(1.2);
	transform: rotate(1deg) scale(1.2);
}



/* END IMAGE STYLE */

/* ====================== END CONTENT ====================== */

/* ====================== START WIDGET ====================== */

.widget-box {
	padding:20px 0;
}

/* START WIDGET CATEGORY */

#footer ul.widget-category { 
	position:relative; 
	margin:0; 
	border-top:solid 1px #ddd;  
	border-bottom:solid 1px #fff;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
#footer ul.widget-category li { 
	display:block; 
	background:#f3f3f3;
	padding:8px; 
	border-bottom:solid 1px #ddd;  
	border-top:solid 1px #fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	position:relative; 
	cursor:pointer; 
	color:#4d4d4d; 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
}
#footer ul.widget-category li a, ul.widget-category li.cat-item{ 
	font-size:14px; 
	display:block; 
	color:#333;
}
#footer ul.widget-category li.cat-item a{ 
	display:inline; 
}
#footer ul.widget-category li:hover { 
	color:#d14a2b; 
	background:#eee;
}
#footer ul.widget-category li a:hover{ 
	color:#d14a2b;
}

/* END WIDGET CATEGORY */

/* START CALENDAR */

#wp-calendar th, 
#wp-calendar 
#today, 
#wp-calendar 
#today a { 
	background:#ccc; 
	color:#434343;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
}
#wp-calendar a:hover { 
	border:none;
}
#wp-calendar { 
	background: #f3f3f3; 
	width:100%; 
}
#wp-calendar caption {  
	font-size: 14px; 
	text-transform:uppercase; 
	margin:0 0 10px 0;
	text-align:left;
	font-family:'Abel',Verdana, Geneva, sans-serif; 
}
#wp-calendar th, 
#wp-calendar td { 
	text-align: center; 
	font-size: 14px; 
	color:#333;
	padding:3px 6px;
}
#wp-calendar td a { 
	display:block; 
	text-align: center; 
	font-size: 14px; 
	color:#000;
	text-decoration:underline
}
#wp-calendar td#prev a, #wp-calendar td#prev a{ 
	text-decoration:none;
	text-align:left;
}
#wp-calendar th{ 
	font-weight:bold
}
tr:nth-child(2n+2) { 
	background-color: #fafafa;
}

/* END CALENDAR */

/* TWITTER WIDGET */

ul#twitter_update_list  { 
	list-style:none;
}
ul#twitter_update_list li { 
	line-height:1.1em; 
	font-size:9px; 
	font-family:'Abel',Verdana, Geneva, sans-serif;
}

/* END TWITTER WIDGET */

/* START TAG CLOUD */

#sidebar .tagcloud a, 
#footer .tagcloud a { 
	display: inline-block; 
	padding: 4px 8px; 
	text-align: center; 
	font-family: 'Abel',Verdana, Geneva, sans-serif; 
	font-size:12px !important; 
	color:#ddd; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	background:#ff6644;
	color:#fff;
	border:none;
	margin:0 0 4px 0;
}
#sidebar .tagcloud a:hover, 
#footer .tagcloud a:hover { 
	color: #fff; 
	background: #d14a2b;
}
#sidebar .tagcloud a { 
	font-size:14px !important; 
}

/* END TAG CLOUD */

/* ====================== END WIDGET ====================== */

/* SOCIAL ICONS */

.socials { 
	float:right;
}
.socials a { 
	display:inline-block; 
	margin: 0 0 0 5px; 
	height:24px;
	width:24px;
	text-indent:-9999px; 
	filter: none !important;
}
.socials a:hover { 
	opacity: 0.7; 
	filter: alpha(opacity=70);
	border-bottom:none;
}
.tipsy { 
	padding: 5px; 
	font-size: 10px; 
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	opacity: 0.8; 
	filter: alpha(opacity=80); 
	background-repeat: no-repeat;  
	background-image: url(images/icons/tipsy.gif);
}

a.facebook { 
	background:url('images/icons/social/facebook.png') no-repeat;
}
a.flickr { 
	background:url('images/icons/social/flickr.png') no-repeat;
}
a.google  { 
	background:url('images/icons/social/google.png') no-repeat;
}
a.linkedin  { 
	background:url('images/icons/social/linkedin.png') no-repeat;
}
a.myspace  { 
	background:url('images/icons/social/myspace.png') no-repeat;
}
a.pinterest {  
	background:url('images/icons/social/pinterest.png') no-repeat;
}
a.rss { 
	background:url('images/icons/social/rss.png') no-repeat;
}
a.skype  { 
	background:url('images/icons/social/skype.png') no-repeat;
}
a.tumblr  { 
	background:url('images/icons/social/tumblr.png') no-repeat;
}
a.twitter { 
	background:url('images/icons/social/twitter.png') no-repeat;
}
a.vimeo  { 
	background:url('images/icons/social/vimeo.png') no-repeat;
}
a.youtube  { 
	background:url('images/icons/social/youtube.png') no-repeat;
}
a.email  { 
	background:url('images/icons/social/email.png') no-repeat;
}

.tipsy-inner { 
	padding: 5px 8px 4px 8px; 
	background-color: black; 
	color: white; 
	max-width: 200px; 
	text-align: center;
}
.tipsy-inner { 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	border-radius:3px;
}
.tipsy-north { 
	background-position: 
	top center;
}
.tipsy-south { 
	background-position: bottom center; 
	margin-top:-4px;
}
.tipsy-east { 
	background-position: right center;
}
.tipsy-west { 
	background-position: left center;
}

/* END SOCIAL ICONS */

/* PAGINATION */

.wp-pagenavi { 
	text-align: center; 
	position:relative;
}
 
.wp-pagenavi a, .wp-pagenavi a:link,.wp-pagenavi span.current { 
	display:inline-block;
	padding:10px 12px;
	margin-bottom:0;
	font-size:14px;
	line-height:21px;
	color:#333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-family: 'Abel',Verdana, Geneva, sans-serif;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	background:#fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease
}

.wp-pagenavi a:hover , .wp-pagenavi span.current {
	color:#fff;
	background:#ff6644;
	text-decoration:none;
	border-bottom:none;
}

@media screen and (min-width : 0px) and (max-width : 768px)  {	

	#sidebar .sidebar-box {
		padding:0;
	}
	
	nav#mainmenu {
		visibility:hidden;
		display:none;
	}
	.select-menu {
		display: inherit;
		visibility:inherit;
		width: 100%;
		height: auto;
		padding: 8px 10px;
		background: #fafafa;
		color: #333;
		font-family: "Abel", Times, serif; 
	}
	
	#sidebar, 
	.wp-pagenavi,
	.pin-article { 
		margin-bottom:20px;
	}
	#footer{ 
		margin-top:25px;
	}
	.pin-article article.article 
	{ 
		padding:20px;
	}
	
	.wp-caption { width:100% !important; }
	.wp-caption img { margin: auto }
	
	#footer .copyright {
		margin:0;
		line-height:15px;
		padding:0;
	}
	.socials {
		float:none;
	}
	.socials a {
		margin:0 0 10px 0;
	}
	.widget-box {
		padding:20px;
	}
	
	#blog {
		margin-bottom:0;
	}
	
	.row.copyright .span6, 
	.row.copyright .span6{
		padding:10px 20px;
		text-align:center;
	}

	.line {
		border:none;
		background:none;
		margin:inherit;
		padding:0;
	}
	
	.line:before {
		background:none;
	}
	
	.entry-info {
		width:auto;
		background:none;
		position:relative
	}

	.entry-info .entry-date, 
	.entry-info .entry-comments,
	.entry-info .entry-author,
	.entry-info .entry-standard {
		display:block;
		text-align:center;
		width:inherit;
		padding:inherit;
		margin:5px auto;
	}
	.entry-info i  {
		line-height: 23px;
		position:absolute;
		left:0;
		margin:0;
		padding:0
	}
	.header select.select-menu {
		width:100%;
		margin-bottom:40px;
	}
	
	/* COMMENTS */
	
	.children li {
		margin-left:0;
	}
	
	.comment-avatar img {
		margin-right:15px;
	}
	
	.comment-text {
		margin:0;
		float:none;
		border:none;
		padding:0;
	}
	
	h3#reply-title, h3.comments {
		font-size:18px;
	}
	
	.gallery p{
		margin:0;
		display:none;
		visibility:hidden;
	}
	
	#footer .widget {
		margin-right: inherit;
	}
	.span8.left-sidebar,
	.span8.right-sidebar  {
		float:inherit;
	}
	
	#sidebar h3.title {
		font-size:22px;
		margin:0 0 15px 0;
	}
	.row.masonry {
		margin-bottom:0;
	}

}

@media screen and (min-width : 0px) and (max-width : 479px)  {	

	.pin-article h1.title {
		font-size:22px;
	}
	.pin-article .quote blockquote p {
		font-size: 16px;
	}

}